/**
 * Media 480px-767px
 *
 * description: css rules for screen of new moderm smartphone
 */
 @media (max-width: 767px) {
  .top-menu {
    &__itm {
      display: block;
    }
  }
  .logo-wrap {
    width: 120px;
  }
  .section {
    &--skew-t {
      &:before {
        height: 50px;
        top: -15px
      }
    }
    &__box {
      padding: 30px 15px 50px;
    }
    &--one-col {
      .section__inner {
        padding: 0;
      }
      .section__box {
        margin: 0 0 30px;
      }
    }
    &--two-cols {
      .section__inner {
        display: block;
      }
      .section__box {
        width: 100%;
      }
    }
    &__ttl {
      font-size: 30px;
    }
    &__link-other {
      h3 {
        font-size: 40px;
      }
    }
    &__cover {
      height: 300px;
      width: auto;
      float: none;
    }
  }
}