//-
  Mixin for Description components.
  --
  @company    amaris
  @author     LE OAI VY
  @version    1.0.0
  --

mixin description(main, sub)
  div(class=['description'] class!=attributes.class)
    if main
      h2.description__main= main
    if sub
      p.description__sub= sub

