.section.section--prod.section--green.section--skew-t.section--one-col.load-hidden
  .section__inner
    .section__nav
      ul.section__nav-list
        li.section__nav-itm.section__nav-itm--active
          a(href="javascript:;", data-filter="*")
            i.fas.fa-th
            | All
        li.section__nav-itm
          a(href="javascript:;", data-filter=".section__proj--1")
            i.fas.fa-project-diagram
            | Project 1
        li.section__nav-itm
          a(href="javascript:;", data-filter=".section__proj--2")
            i.fas.fa-project-diagram
            | Project 2
        li.section__nav-itm
          a(href="javascript:;", data-filter=".section__proj--3")
            i.fas.fa-project-diagram
            | Project 3
    .section__proj-list
      .col-md-4.section__proj.section__proj--1
        a.section__proj-wrap(href="javascript:;", style="background-color: rgb(6, 142, 201)", data-toggle="modal", data-target="#prod-1")
          .section__proj-bder
            .section__proj-inner(style="background-image: url('/images/proj-1.jpg')")
              .section__proj-heading
                .section__proj-ttl(style="background-color: rgb(6, 142, 201)") PROJECT 1
                .section__proj-cat Category 1
              span.section__proj-arr
                i.fas.fa-external-link-square-alt(style="color: rgb(6, 142, 201)")
      .col-md-4.section__proj.section__proj--2
        a.section__proj-wrap(href="javascript:;", style="background-color: rgb(6, 142, 201)", data-toggle="modal", data-target="#prod-2")
          .section__proj-bder
            .section__proj-inner(style="background-image: url('/images/proj-2.jpg')")
              .section__proj-heading
                .section__proj-ttl(style="background-color: rgb(6, 142, 201)") PROJECT 2
                .section__proj-cat Category 1
              span.section__proj-arr
                i.fas.fa-external-link-square-alt(style="color: rgb(6, 142, 201)")
      .col-md-4.section__proj.section__proj--3
        a.section__proj-wrap(href="javascript:;", style="background-color: rgb(6, 142, 201)", data-toggle="modal", data-target="#prod-3")
          .section__proj-bder
            .section__proj-inner(style="background-image: url('/images/proj-3.jpg')")
              .section__proj-heading
                .section__proj-ttl(style="background-color: rgb(6, 142, 201)") PROJECT 3
                .section__proj-cat Category 1
              span.section__proj-arr
                i.fas.fa-external-link-square-alt(style="color: rgb(6, 142, 201)")
      .col-md-4.section__proj.section__proj--3
        a.section__proj-wrap(href="javascript:;", style="background-color: rgb(6, 142, 201)", data-toggle="modal", data-target="#prod-4")
          .section__proj-bder
            .section__proj-inner(style="background-image: url('/images/proj-4.jpg')")
              .section__proj-heading
                .section__proj-ttl(style="background-color: rgb(6, 142, 201)") PROJECT 3
                .section__proj-cat Category 1
              span.section__proj-arr
                i.fas.fa-external-link-square-alt(style="color: rgb(6, 142, 201)")
      .col-md-4.section__proj.section__proj--3
        a.section__proj-wrap(href="javascript:;", style="background-color: rgb(6, 142, 201)", data-toggle="modal", data-target="#prod-5")
          .section__proj-bder
            .section__proj-inner(style="background-image: url('/images/proj-5.jpg')")
              .section__proj-heading
                .section__proj-ttl(style="background-color: rgb(6, 142, 201)") PROJECT 3
                .section__proj-cat Category 1
              span.section__proj-arr
                i.fas.fa-external-link-square-alt(style="color: rgb(6, 142, 201)")
      .col-md-4.section__proj.section__proj--3
        a.section__proj-wrap(href="javascript:;", style="background-color: rgb(6, 142, 201)", data-toggle="modal", data-target="#prod-6")
          .section__proj-bder
            .section__proj-inner(style="background-image: url('/images/proj-6.jpg')")
              .section__proj-heading
                .section__proj-ttl(style="background-color: rgb(6, 142, 201)") PROJECT 3
                .section__proj-cat Category 1
              span.section__proj-arr
                i.fas.fa-external-link-square-alt(style="color: rgb(6, 142, 201)")
      .col-md-4.section__proj.section__proj--3
        a.section__proj-wrap(href="javascript:;", style="background-color: rgb(6, 142, 201)", data-toggle="modal", data-target="#prod-7")
          .section__proj-bder
            .section__proj-inner(style="background-image: url('/images/proj-7.jpg')")
              .section__proj-heading
                .section__proj-ttl(style="background-color: rgb(6, 142, 201)") PROJECT 3
                .section__proj-cat Category 1
              span.section__proj-arr
                i.fas.fa-external-link-square-alt(style="color: rgb(6, 142, 201)")
  // Modal
  #prod-1.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel')
    .modal-dialog(role='document')
      .modal-content
        .modal-header
          button.close(type='button', data-dismiss='modal', aria-label='Close')
            span(aria-hidden='true') ×
          h4#myModalLabel.modal-title Detail product 1
        .modal-body
          | ...
        .modal-footer
          button.btn.btn-default(type='button', data-dismiss='modal') Close
          button.btn.btn-primary(type='button') Save changes
  #prod-2.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel')
    .modal-dialog(role='document')
      .modal-content
        .modal-header
          button.close(type='button', data-dismiss='modal', aria-label='Close')
            span(aria-hidden='true') ×
          h4#myModalLabel.modal-title Product detail 2
        .modal-body
          | ...
        .modal-footer
          button.btn.btn-default(type='button', data-dismiss='modal') Close
          button.btn.btn-primary(type='button') Save changes
  #prod-3.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel')
    .modal-dialog(role='document')
      .modal-content
        .modal-header
          button.close(type='button', data-dismiss='modal', aria-label='Close')
            span(aria-hidden='true') ×
          h4#myModalLabel.modal-title Product detail 3
        .modal-body
          | ...
        .modal-footer
          button.btn.btn-default(type='button', data-dismiss='modal') Close
          button.btn.btn-primary(type='button') Save changes
  #prod-4.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel')
    .modal-dialog(role='document')
      .modal-content
        .modal-header
          button.close(type='button', data-dismiss='modal', aria-label='Close')
            span(aria-hidden='true') ×
          h4#myModalLabel.modal-title Product detail 4
        .modal-body
          | ...
        .modal-footer
          button.btn.btn-default(type='button', data-dismiss='modal') Close
          button.btn.btn-primary(type='button') Save changes
  #prod-5.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel')
    .modal-dialog(role='document')
      .modal-content
        .modal-header
          button.close(type='button', data-dismiss='modal', aria-label='Close')
            span(aria-hidden='true') ×
          h4#myModalLabel.modal-title Product detail 5
        .modal-body
          | ...
        .modal-footer
          button.btn.btn-default(type='button', data-dismiss='modal') Close
          button.btn.btn-primary(type='button') Save changes
  #prod-6.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel')
    .modal-dialog(role='document')
      .modal-content
        .modal-header
          button.close(type='button', data-dismiss='modal', aria-label='Close')
            span(aria-hidden='true') ×
          h4#myModalLabel.modal-title Product detail 6
        .modal-body
          | ...
        .modal-footer
          button.btn.btn-default(type='button', data-dismiss='modal') Close
          button.btn.btn-primary(type='button') Save changes
  #prod-7.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel')
    .modal-dialog(role='document')
      .modal-content
        .modal-header
          button.close(type='button', data-dismiss='modal', aria-label='Close')
            span(aria-hidden='true') ×
          h4#myModalLabel.modal-title Product detail 7
        .modal-body
          | ...
        .modal-footer
          button.btn.btn-default(type='button', data-dismiss='modal') Close
          button.btn.btn-primary(type='button') Save changes