$font-path: '../fonts';

@mixin generateFont ($font-family, $style, $fontWeight: 400, $fontStyle: normal) {
  @font-face {
    font-family:  quote($font-family), sans-serif;
    src: url('#{$font-path}/#{$font-family}/#{$font-family}-#{$style}.ttf') format('truetype');
    font-weight: $fontWeight;
    font-style: $fontStyle;
  }
}

@mixin Roboto {
  @include generateFont("Roboto", 'Regular');
}

@mixin Roboto-Bold {
  @include generateFont("Roboto", 'Bold', 700, normal);
}

@mixin Roboto-Light {
  @include generateFont('Roboto', 'Light', 300, normal);
}

@mixin Montserrat {
  @include generateFont('Montserrat', 'Regular');
}

@mixin Montserrat-Bold {
  @include generateFont('Montserrat', 'Bold', 700, normal);
}

@mixin Montserrat-Light {
  @include generateFont('Montserrat', 'Light', 300, normal);
}

