/*
*  Global Mixins
*  --
*  @company    Amaris
*  @author     LE OAI VY
*  @version    0.1.0
*  --
*
*  [Table of contents]
*
*  [&. Content / #key]
*  [Let press Ctrl + f and type of paste the key, then press Enter to search the content]
*
*  Summary:
*
*  01. Border Radius
*  02. Box Shadow
*  03. Transform
*  04. Transition
*  05. Display Flex
*  06. Flex Box Properties
*  07. Display Inline Flex
*
*/

@import "fonts";

/*
* 01. Border Radius
* --
* Create prefix for border radius property.
* --
* @author LE OAI VY
* --
* @example scss - Usage
*   selector {
*     @include border-radius(5px);
*   }
*/

@mixin border-radius($params) {
  -webkit-border-radius: $params;
  -moz-border-radius: $params;
  border-radius: $params;
}

/*
* 02. Box Shadow
* --
* Create prefix for box shadow property.
* --
* @author LE OAI VY
* --
* @example scss - Usage
*   selector {
*     @include box-shadow(0 4px 9px 0 rgba(23, 28, 33, 0.2));
*   }
*/

@mixin box-shadow($params) {
  -webkit-box-shadow: $params;
  -moz-box-shadow: $params;
  box-shadow: $params;
}

/*
* 03. Transform
* --
* Create prefix for transform property.
* --
* @author LE OAI VY
* --
* @example scss - Usage
*   selector {
*     @include transform(translateX(-50%));
*   }
*/

@mixin transform($params) {
  -webkit-transform: $params;
  -moz-transform: $params;
  -ms-transform: $params;
  -o-transform: $params;
  transform: $params;
}

/*
* 04. Transition
* --
* Create prefix for transition property.
* --
* @author LE OAI VY
* --
* @example scss - Usage
*   selector {
*     @include transition(all 0.3s ease);
*   }
*/

@mixin transition($params...) {
  @each $param in $params {
    -webkit-transition: $param;
    -moz-transition: $param;
    -ms-transition: $param;
    -o-transition: $param;
    transition: $param;
  }
}

/*
* 05. Display Flex
* --
* Create prefix for display flex property.
* --
* @author LE OAI VY
* --
* @example scss - Usage
*   selector {
*     @include display-flex();
*   }
*/

@mixin display-flex() {
  display: -webkit-flex;
  display: flex;
}

/*
* 06. Flex Box Properties
* --
* Create prefix for flex box properties.
* --
* @author LE OAI VY
* --
* @example scss - Usage
*   selector {
*     @include flex-prop(justify-content, center);
*   }
*/

@mixin flex-prop($prop-name, $params) {
  -webkit-#{$prop-name}: $params;
  #{$prop-name}: $params;
}

/*
* 07. Display Inline Flex
* --
* Create prefix for display flex property.
* --
* @author LE OAI VY
* --
* @example scss - Usage
*   selector {
*     @include display-inline-flex();
*   }
*/

@mixin display-inline-flex() {
  display: -webkit-inline-flex;
  display: inline-flex;
}
