extends layout

block variables
  - var title = "Button clamshell";
  - var description = "Button clamshell";
 
block head
  include ../share/head/head

block content
  include ../components/logo-stroke/index
  include ../components/home-slider/index
  include ../components/social-blk/index

block scripts
  include ../share/scripts/scripts