block variables
doctype html
html(lang="en")
  head
    block head
  body
    <!--[if lt IE 9]>
    p.ie-warning Unsupported browser. Please use modern browsers (Google Chrome, Edge, Firefox, Safari ...) to have better experience!
    <![endif]-->
    block header
    include ../share/header/header
    include ../share/background/index
    include ../share/top-menu/index
    include ../share/loading/index
    .content-wrap
      block content
    // END: CONTENT WRAP
    block footer
    block scripts