extends layout

block variables
  - var title = "Products - Button clamshell";
  - var description = "Button clamshell";

block head
  include ../share/head/head

block header
  .heading
    i.far.fa-dot-circle
    h2 Products

block content
  .scroll-down
    svg(xmlns='http://www.w3.org/2000/svg', x='0px', y='0px', width='60px', height='60px', viewBox='0 0 60 60')
      path.line-color(d='M54.245,15.945C56.748,20.235,58,24.92,58,30c0,5.08-1.252,9.766-3.755,14.055\
      c-2.504,4.29-5.901,7.688-10.19,10.19C39.765,56.748,35.079,58,30,58c-5.08,0-9.765-1.252-14.055-3.755\
      c-4.29-2.503-7.687-5.9-10.19-10.19C3.251,39.766,2,35.08,2,30c0-5.08,1.251-9.765,3.755-14.055c2.503-4.29,5.9-7.687,10.19-10.19\
      C20.235,3.252,24.92,2,30,2c5.079,0,9.765,1.252,14.055,3.755C48.344,8.259,51.741,11.656,54.245,15.945z M48.813,30.037\
      c0-0.656-0.219-1.203-0.656-1.641l-3.317-3.318c-0.438-0.438-0.984-0.656-1.641-0.656s-1.203,0.219-1.641,0.656l-6.891,6.891V13.667\
      c0-0.631-0.231-1.178-0.693-1.641c-0.462-0.461-1.009-0.692-1.64-0.692h-4.667c-0.632,0-1.179,0.231-1.641,0.692\
      c-0.462,0.462-0.692,1.009-0.692,1.641v18.302l-6.891-6.891c-0.462-0.461-1.009-0.693-1.641-0.693c-0.633,0-1.18,0.231-1.641,0.693\
      l-3.318,3.318c-0.438,0.438-0.656,0.984-0.656,1.641s0.219,1.204,0.656,1.641l13.198,13.197l3.318,3.317\
      c0.438,0.438,0.984,0.656,1.641,0.656s1.203-0.219,1.641-0.656l3.317-3.317l13.198-13.197C48.594,31.24,48.813,30.693,48.813,30.037z', style='stroke-dashoffset: 318.46px; stroke-dasharray: 318.46, 318.46;')
      path.fill-color(d='M55.977,14.941C58.658,19.538,60,24.558,60,30c0,5.443-1.342,10.463-4.023,15.059\
      c-2.683,4.597-6.322,8.236-10.918,10.918C40.462,58.658,35.442,60,30,60c-5.443,0-10.462-1.342-15.059-4.023\
      c-4.597-2.682-8.236-6.321-10.918-10.918C1.341,40.463,0,35.443,0,30c0-5.442,1.341-10.462,4.023-15.059\
      c2.682-4.596,6.321-8.235,10.918-10.918C19.538,1.342,24.557,0,30,0c5.442,0,10.462,1.342,15.059,4.023\
      C49.654,6.706,53.294,10.346,55.977,14.941z M50.156,30.039c0-0.703-0.234-1.289-0.703-1.758l-3.555-3.555\
      c-0.469-0.469-1.055-0.703-1.758-0.703s-1.289,0.234-1.758,0.703L35,32.109V12.5c0-0.677-0.248-1.263-0.742-1.758\
      C33.763,10.248,33.177,10,32.5,10h-5c-0.678,0-1.264,0.248-1.758,0.742C25.247,11.237,25,11.823,25,12.5v19.609l-7.383-7.383\
      c-0.495-0.494-1.081-0.742-1.758-0.742c-0.678,0-1.264,0.248-1.758,0.742l-3.555,3.555c-0.469,0.469-0.703,1.055-0.703,1.758\
      s0.234,1.289,0.703,1.758l14.141,14.141l3.555,3.555c0.469,0.469,1.055,0.703,1.758,0.703s1.289-0.234,1.758-0.703l3.555-3.555\
      l14.141-14.141C49.922,31.328,50.156,30.742,50.156,30.039z', style='stroke-dashoffset: 341.208px; stroke-dasharray: 341.208, 341.208;')
    span SCROLL
  .scroll-up
    i.fas.fa-arrow-circle-up
  .sections
    include ../components/sections/products/section1
    include ../components/sections/products/section2
    //- include ../components/sections/products/section3

block scripts
  include ../share/scripts/scripts
