
/*
*  Global Settings.
*  --
*  @company    Amaris
*  @author
*  @version    0.1.0
*  --
*
*  [Table of contents]
*
*  [&. Content / #key]
*  [Let press Ctrl + f and type of paste the key, then press Enter to search the content]
*
*  Summary:
*
*  01. Variables
*  02. Typography
*  03. Others
*
*/

/*===================================
=           00. Body           =
===================================*/

body {
  color: black;
  font-size: 14px;
  line-height: 1.428571429;
  text-rendering: optimizeSpeed;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  background: white;
  font-family: Arial,Helvetica,sans-serif;
}

/*=====  End of 00. Body  ======*/


/*===================================
=           01. Variables           =
===================================*/

@import "variables";

/*=====  End of 01. Variables  ======*/


/*===================================
=           02. Typography          =
===================================*/

@import "typography";

/*=====  End of 02. Typography  ======*/


/*===================================
=           03. Others              =
===================================*/

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:focus {
  outline: 0;
}

/*=====  End of 03. Others  ======*/
