/*
*  Global variables.
*  --
*  @company    Amaris
*  @author
*  @version    0.1.0
*  --
*
*  [Table of contents]
*
*  [&. Content / #key]
*  [Let press Ctrl + f and type of paste the key, then press Enter to search the content]
*
*  Summary:
*
*  01. Colors
*  02. Font Family
*
*/



/*===================================
=           01. Colors              =
===================================*/

$colors: (
  'black-ttl': #333
);

$gold     : #fcd62c;

/*=====  End of 01. Colors   ======*/



/*===================================
=          02. Font Family          =
===================================*/

$fontMont: 'Montserrat', sans-serif;
$fontRoboto: 'Roboto', sans-serif;

/*=====  End of 02. Font Family   ======*/
