.social-blk
    .top-menu__social.top-menu__social--opened
        a.top-menu__social-itm.top-menu__social-itm--lang(href="#") en
        a.top-menu__social-itm.top-menu__social-itm--face(href="#")
            i.fab.fa-facebook-f