//-
  Header components.
  --
  @company    amaris
  @author     LE OAI VY
  @version    0.1.0
  --
  
.logo-wrap
  a(href="/")
    img.logo-wrap__over(src="/images/icon-logo-over.svg", alt="")
// END: LOGO WRAP
.nav-click
  .nav-click__line
// END: MENU BUTTON