.section.section--blue-bt.section--green.section--skew-t.section--skew-t.text-center.section--one-col.load-hidden
  .section__inner.pd-0
    .section__googlemap
      #map-canvas.section__map-canvas(style='position: relative; overflow: hidden;')
        div(style='height: 100%; width: 100%; position: absolute; top: 0px; left: 0px; background-color: rgb(229, 227, 223);')
          .gm-style(style='position: absolute; z-index: 0; left: 0px; top: 0px; height: 100%; width: 100%; padding: 0px; border-width: 0px; margin: 0px;')
            div(tabindex='0', style='position: absolute; z-index: 0; left: 0px; top: 0px; height: 100%; width: 100%; padding: 0px; border-width: 0px; margin: 0px; cursor: url("https://maps.gstatic.com/mapfiles/openhand_8_8.cur"), default; touch-action: pan-x pan-y;')
              div(style='z-index: 1; position: absolute; left: 50%; top: 50%; width: 100%; transform: translate(0px, 0px);')
                div(style='position: absolute; left: 0px; top: 0px; z-index: 100; width: 100%;')
                  div(style='position: absolute; left: 0px; top: 0px; z-index: 0;')
                    div(style='position: absolute; z-index: 1; transform: matrix(1, 0, 0, 1, -104, -125);')
                      div(style='position: absolute; left: 0px; top: 0px; width: 256px; height: 256px;')
                        div(style='width: 256px; height: 256px;')
                      div(style='position: absolute; left: -256px; top: 0px; width: 256px; height: 256px;')
                        div(style='width: 256px; height: 256px;')
                      div(style='position: absolute; left: -256px; top: -256px; width: 256px; height: 256px;')
                        div(style='width: 256px; height: 256px;')
                      div(style='position: absolute; left: 0px; top: -256px; width: 256px; height: 256px;')
                        div(style='width: 256px; height: 256px;')
                      div(style='position: absolute; left: 256px; top: -256px; width: 256px; height: 256px;')
                        div(style='width: 256px; height: 256px;')
                      div(style='position: absolute; left: 256px; top: 0px; width: 256px; height: 256px;')
                        div(style='width: 256px; height: 256px;')
                      div(style='position: absolute; left: 256px; top: 256px; width: 256px; height: 256px;')
                        div(style='width: 256px; height: 256px;')
                      div(style='position: absolute; left: 0px; top: 256px; width: 256px; height: 256px;')
                        div(style='width: 256px; height: 256px;')
                      div(style='position: absolute; left: -256px; top: 256px; width: 256px; height: 256px;')
                        div(style='width: 256px; height: 256px;')
                      div(style='position: absolute; left: -512px; top: 256px; width: 256px; height: 256px;')
                        div(style='width: 256px; height: 256px;')
                      div(style='position: absolute; left: -512px; top: 0px; width: 256px; height: 256px;')
                        div(style='width: 256px; height: 256px;')
                      div(style='position: absolute; left: -512px; top: -256px; width: 256px; height: 256px;')
                        div(style='width: 256px; height: 256px;')
                      div(style='position: absolute; left: 512px; top: -256px; width: 256px; height: 256px;')
                        div(style='width: 256px; height: 256px;')
                      div(style='position: absolute; left: 512px; top: 0px; width: 256px; height: 256px;')
                        div(style='width: 256px; height: 256px;')
                      div(style='position: absolute; left: 512px; top: 256px; width: 256px; height: 256px;')
                        div(style='width: 256px; height: 256px;')
                      div(style='position: absolute; left: -768px; top: 256px; width: 256px; height: 256px;')
                        div(style='width: 256px; height: 256px;')
                      div(style='position: absolute; left: -768px; top: 0px; width: 256px; height: 256px;')
                        div(style='width: 256px; height: 256px;')
                      div(style='position: absolute; left: -768px; top: -256px; width: 256px; height: 256px;')
                        div(style='width: 256px; height: 256px;')
                      div(style='position: absolute; left: 768px; top: -256px; width: 256px; height: 256px;')
                        div(style='width: 256px; height: 256px;')
                      div(style='position: absolute; left: 768px; top: 0px; width: 256px; height: 256px;')
                        div(style='width: 256px; height: 256px;')
                      div(style='position: absolute; left: 768px; top: 256px; width: 256px; height: 256px;')
                        div(style='width: 256px; height: 256px;')
                div(style='position: absolute; left: 0px; top: 0px; z-index: 101; width: 100%;')
                div(style='position: absolute; left: 0px; top: 0px; z-index: 102; width: 100%;')
                div(style='position: absolute; left: 0px; top: 0px; z-index: 103; width: 100%;')
                  div(style='position: absolute; left: 0px; top: 0px; z-index: -1;')
                    div(style='position: absolute; z-index: 1; transform: matrix(1, 0, 0, 1, -104, -125);')
                      div(style='width: 256px; height: 256px; overflow: hidden; position: absolute; left: 0px; top: 0px;')
                      div(style='width: 256px; height: 256px; overflow: hidden; position: absolute; left: -256px; top: 0px;')
                      div(style='width: 256px; height: 256px; overflow: hidden; position: absolute; left: -256px; top: -256px;')
                      div(style='width: 256px; height: 256px; overflow: hidden; position: absolute; left: 0px; top: -256px;')
                      div(style='width: 256px; height: 256px; overflow: hidden; position: absolute; left: 256px; top: -256px;')
                      div(style='width: 256px; height: 256px; overflow: hidden; position: absolute; left: 256px; top: 0px;')
                      div(style='width: 256px; height: 256px; overflow: hidden; position: absolute; left: 256px; top: 256px;')
                      div(style='width: 256px; height: 256px; overflow: hidden; position: absolute; left: 0px; top: 256px;')
                      div(style='width: 256px; height: 256px; overflow: hidden; position: absolute; left: -256px; top: 256px;')
                      div(style='width: 256px; height: 256px; overflow: hidden; position: absolute; left: -512px; top: 256px;')
                      div(style='width: 256px; height: 256px; overflow: hidden; position: absolute; left: -512px; top: 0px;')
                      div(style='width: 256px; height: 256px; overflow: hidden; position: absolute; left: -512px; top: -256px;')
                      div(style='width: 256px; height: 256px; overflow: hidden; position: absolute; left: 512px; top: -256px;')
                      div(style='width: 256px; height: 256px; overflow: hidden; position: absolute; left: 512px; top: 0px;')
                      div(style='width: 256px; height: 256px; overflow: hidden; position: absolute; left: 512px; top: 256px;')
                      div(style='width: 256px; height: 256px; overflow: hidden; position: absolute; left: -768px; top: 256px;')
                      div(style='width: 256px; height: 256px; overflow: hidden; position: absolute; left: -768px; top: 0px;')
                      div(style='width: 256px; height: 256px; overflow: hidden; position: absolute; left: -768px; top: -256px;')
                      div(style='width: 256px; height: 256px; overflow: hidden; position: absolute; left: 768px; top: -256px;')
                      div(style='width: 256px; height: 256px; overflow: hidden; position: absolute; left: 768px; top: 0px;')
                      div(style='width: 256px; height: 256px; overflow: hidden; position: absolute; left: 768px; top: 256px;')
                  div(style='width: 150px; height: 170px; overflow: hidden; position: absolute; left: -75px; top: -170px; z-index: 0; animation-duration: 500ms; animation-iteration-count: 1; animation-name: _gm3633;')
                    img(alt='', src='https://btq.vn/catalog/view/theme/default/images/logo_btq.png', draggable='false', style='position: absolute; left: 0px; top: 0px; user-select: none; width: 150px; height: 170px; border: 0px; padding: 0px; margin: 0px; max-width: none;')
                div(style='position: absolute; left: 0px; top: 0px; z-index: 0;')
                  div(style='position: absolute; z-index: 1; transform: matrix(1, 0, 0, 1, -104, -125);')
                    div(style='position: absolute; left: 0px; top: 0px; width: 256px; height: 256px;')
                      img(draggable='false', alt='', aria-hidden='true', src='https://maps.googleapis.com/maps/vt?pb=!1m5!1m4!1i14!2i13046!3i7698!4i256!2m3!1e0!2sm!3i434139772!3m14!2svi-VN!3sUS!5e18!12m1!1e68!12m3!1e37!2m1!1ssmartmaps!12m4!1e26!2m2!1sstyles!2zcC5oOiNkNDlmMDB8cC5zOi0yMCxzLnQ6M3xzLmU6Z3xwLmw6NTB8cC52OnNpbXBsaWZpZWQscy50OjN8cy5lOmx8cC52Om9u!4e0!5m1!5f2!23i1301875&key=AIzaSyBoX04lsIHEnZ5Tgbj4g5FLFZx_ZiTsmtM&token=20424', style='width: 256px; height: 256px; user-select: none; border: 0px; padding: 0px; margin: 0px; max-width: none;')
                    div(style='position: absolute; left: -256px; top: 0px; width: 256px; height: 256px;')
                      img(draggable='false', alt='', aria-hidden='true', src='https://maps.googleapis.com/maps/vt?pb=!1m5!1m4!1i14!2i13045!3i7698!4i256!2m3!1e0!2sm!3i434139772!3m14!2svi-VN!3sUS!5e18!12m1!1e68!12m3!1e37!2m1!1ssmartmaps!12m4!1e26!2m2!1sstyles!2zcC5oOiNkNDlmMDB8cC5zOi0yMCxzLnQ6M3xzLmU6Z3xwLmw6NTB8cC52OnNpbXBsaWZpZWQscy50OjN8cy5lOmx8cC52Om9u!4e0!5m1!5f2!23i1301875&key=AIzaSyBoX04lsIHEnZ5Tgbj4g5FLFZx_ZiTsmtM&token=33378', style='width: 256px; height: 256px; user-select: none; border: 0px; padding: 0px; margin: 0px; max-width: none;')
                    div(style='position: absolute; left: -256px; top: -256px; width: 256px; height: 256px;')
                      img(draggable='false', alt='', aria-hidden='true', src='https://maps.googleapis.com/maps/vt?pb=!1m5!1m4!1i14!2i13045!3i7697!4i256!2m3!1e0!2sm!3i434139772!3m14!2svi-VN!3sUS!5e18!12m1!1e68!12m3!1e37!2m1!1ssmartmaps!12m4!1e26!2m2!1sstyles!2zcC5oOiNkNDlmMDB8cC5zOi0yMCxzLnQ6M3xzLmU6Z3xwLmw6NTB8cC52OnNpbXBsaWZpZWQscy50OjN8cy5lOmx8cC52Om9u!4e0!5m1!5f2!23i1301875&key=AIzaSyBoX04lsIHEnZ5Tgbj4g5FLFZx_ZiTsmtM&token=48827', style='width: 256px; height: 256px; user-select: none; border: 0px; padding: 0px; margin: 0px; max-width: none;')
                    div(style='position: absolute; left: 0px; top: -256px; width: 256px; height: 256px;')
                      img(draggable='false', alt='', aria-hidden='true', src='https://maps.googleapis.com/maps/vt?pb=!1m5!1m4!1i14!2i13046!3i7697!4i256!2m3!1e0!2sm!3i434139772!3m14!2svi-VN!3sUS!5e18!12m1!1e68!12m3!1e37!2m1!1ssmartmaps!12m4!1e26!2m2!1sstyles!2zcC5oOiNkNDlmMDB8cC5zOi0yMCxzLnQ6M3xzLmU6Z3xwLmw6NTB8cC52OnNpbXBsaWZpZWQscy50OjN8cy5lOmx8cC52Om9u!4e0!5m1!5f2!23i1301875&key=AIzaSyBoX04lsIHEnZ5Tgbj4g5FLFZx_ZiTsmtM&token=35873', style='width: 256px; height: 256px; user-select: none; border: 0px; padding: 0px; margin: 0px; max-width: none;')
                    div(style='position: absolute; left: 256px; top: -256px; width: 256px; height: 256px;')
                      img(draggable='false', alt='', aria-hidden='true', src='https://maps.googleapis.com/maps/vt?pb=!1m5!1m4!1i14!2i13047!3i7697!4i256!2m3!1e0!2sm!3i434139772!3m14!2svi-VN!3sUS!5e18!12m1!1e68!12m3!1e37!2m1!1ssmartmaps!12m4!1e26!2m2!1sstyles!2zcC5oOiNkNDlmMDB8cC5zOi0yMCxzLnQ6M3xzLmU6Z3xwLmw6NTB8cC52OnNpbXBsaWZpZWQscy50OjN8cy5lOmx8cC52Om9u!4e0!5m1!5f2!23i1301875&key=AIzaSyBoX04lsIHEnZ5Tgbj4g5FLFZx_ZiTsmtM&token=22919', style='width: 256px; height: 256px; user-select: none; border: 0px; padding: 0px; margin: 0px; max-width: none;')
                    div(style='position: absolute; left: 256px; top: 0px; width: 256px; height: 256px;')
                      img(draggable='false', alt='', aria-hidden='true', src='https://maps.googleapis.com/maps/vt?pb=!1m5!1m4!1i14!2i13047!3i7698!4i256!2m3!1e0!2sm!3i434139772!3m14!2svi-VN!3sUS!5e18!12m1!1e68!12m3!1e37!2m1!1ssmartmaps!12m4!1e26!2m2!1sstyles!2zcC5oOiNkNDlmMDB8cC5zOi0yMCxzLnQ6M3xzLmU6Z3xwLmw6NTB8cC52OnNpbXBsaWZpZWQscy50OjN8cy5lOmx8cC52Om9u!4e0!5m1!5f2!23i1301875&key=AIzaSyBoX04lsIHEnZ5Tgbj4g5FLFZx_ZiTsmtM&token=7470', style='width: 256px; height: 256px; user-select: none; border: 0px; padding: 0px; margin: 0px; max-width: none;')
                    div(style='position: absolute; left: 256px; top: 256px; width: 256px; height: 256px;')
                      img(draggable='false', alt='', aria-hidden='true', src='https://maps.googleapis.com/maps/vt?pb=!1m5!1m4!1i14!2i13047!3i7699!4i256!2m3!1e0!2sm!3i434139772!3m14!2svi-VN!3sUS!5e18!12m1!1e68!12m3!1e37!2m1!1ssmartmaps!12m4!1e26!2m2!1sstyles!2zcC5oOiNkNDlmMDB8cC5zOi0yMCxzLnQ6M3xzLmU6Z3xwLmw6NTB8cC52OnNpbXBsaWZpZWQscy50OjN8cy5lOmx8cC52Om9u!4e0!5m1!5f2!23i1301875&key=AIzaSyBoX04lsIHEnZ5Tgbj4g5FLFZx_ZiTsmtM&token=123092', style='width: 256px; height: 256px; user-select: none; border: 0px; padding: 0px; margin: 0px; max-width: none;')
                    div(style='position: absolute; left: 0px; top: 256px; width: 256px; height: 256px;')
                      img(draggable='false', alt='', aria-hidden='true', src='https://maps.googleapis.com/maps/vt?pb=!1m5!1m4!1i14!2i13046!3i7699!4i256!2m3!1e0!2sm!3i434139772!3m14!2svi-VN!3sUS!5e18!12m1!1e68!12m3!1e37!2m1!1ssmartmaps!12m4!1e26!2m2!1sstyles!2zcC5oOiNkNDlmMDB8cC5zOi0yMCxzLnQ6M3xzLmU6Z3xwLmw6NTB8cC52OnNpbXBsaWZpZWQscy50OjN8cy5lOmx8cC52Om9u!4e0!5m1!5f2!23i1301875&key=AIzaSyBoX04lsIHEnZ5Tgbj4g5FLFZx_ZiTsmtM&token=4975', style='width: 256px; height: 256px; user-select: none; border: 0px; padding: 0px; margin: 0px; max-width: none;')
                    div(style='position: absolute; left: -256px; top: 256px; width: 256px; height: 256px;')
                      img(draggable='false', alt='', aria-hidden='true', src='https://maps.googleapis.com/maps/vt?pb=!1m5!1m4!1i14!2i13045!3i7699!4i256!2m3!1e0!2sm!3i434139772!3m14!2svi-VN!3sUS!5e18!12m1!1e68!12m3!1e37!2m1!1ssmartmaps!12m4!1e26!2m2!1sstyles!2zcC5oOiNkNDlmMDB8cC5zOi0yMCxzLnQ6M3xzLmU6Z3xwLmw6NTB8cC52OnNpbXBsaWZpZWQscy50OjN8cy5lOmx8cC52Om9u!4e0!5m1!5f2!23i1301875&key=AIzaSyBoX04lsIHEnZ5Tgbj4g5FLFZx_ZiTsmtM&token=17929', style='width: 256px; height: 256px; user-select: none; border: 0px; padding: 0px; margin: 0px; max-width: none;')
                    div(style='position: absolute; left: -512px; top: 256px; width: 256px; height: 256px;')
                      img(draggable='false', alt='', aria-hidden='true', src='https://maps.googleapis.com/maps/vt?pb=!1m5!1m4!1i14!2i13044!3i7699!4i256!2m3!1e0!2sm!3i434139772!3m14!2svi-VN!3sUS!5e18!12m1!1e68!12m3!1e37!2m1!1ssmartmaps!12m4!1e26!2m2!1sstyles!2zcC5oOiNkNDlmMDB8cC5zOi0yMCxzLnQ6M3xzLmU6Z3xwLmw6NTB8cC52OnNpbXBsaWZpZWQscy50OjN8cy5lOmx8cC52Om9u!4e0!5m1!5f2!23i1301875&key=AIzaSyBoX04lsIHEnZ5Tgbj4g5FLFZx_ZiTsmtM&token=30883', style='width: 256px; height: 256px; user-select: none; border: 0px; padding: 0px; margin: 0px; max-width: none;')
                    div(style='position: absolute; left: -512px; top: 0px; width: 256px; height: 256px;')
                      img(draggable='false', alt='', aria-hidden='true', src='https://maps.googleapis.com/maps/vt?pb=!1m5!1m4!1i14!2i13044!3i7698!4i256!2m3!1e0!2sm!3i434139772!3m14!2svi-VN!3sUS!5e18!12m1!1e68!12m3!1e37!2m1!1ssmartmaps!12m4!1e26!2m2!1sstyles!2zcC5oOiNkNDlmMDB8cC5zOi0yMCxzLnQ6M3xzLmU6Z3xwLmw6NTB8cC52OnNpbXBsaWZpZWQscy50OjN8cy5lOmx8cC52Om9u!4e0!5m1!5f2!23i1301875&key=AIzaSyBoX04lsIHEnZ5Tgbj4g5FLFZx_ZiTsmtM&token=46332', style='width: 256px; height: 256px; user-select: none; border: 0px; padding: 0px; margin: 0px; max-width: none;')
                    div(style='position: absolute; left: -512px; top: -256px; width: 256px; height: 256px;')
                      img(draggable='false', alt='', aria-hidden='true', src='https://maps.googleapis.com/maps/vt?pb=!1m5!1m4!1i14!2i13044!3i7697!4i256!2m3!1e0!2sm!3i434139772!3m14!2svi-VN!3sUS!5e18!12m1!1e68!12m3!1e37!2m1!1ssmartmaps!12m4!1e26!2m2!1sstyles!2zcC5oOiNkNDlmMDB8cC5zOi0yMCxzLnQ6M3xzLmU6Z3xwLmw6NTB8cC52OnNpbXBsaWZpZWQscy50OjN8cy5lOmx8cC52Om9u!4e0!5m1!5f2!23i1301875&key=AIzaSyBoX04lsIHEnZ5Tgbj4g5FLFZx_ZiTsmtM&token=61781', style='width: 256px; height: 256px; user-select: none; border: 0px; padding: 0px; margin: 0px; max-width: none;')
                    div(style='position: absolute; left: 512px; top: -256px; width: 256px; height: 256px;')
                      img(draggable='false', alt='', aria-hidden='true', src='https://maps.googleapis.com/maps/vt?pb=!1m5!1m4!1i14!2i13048!3i7697!4i256!2m3!1e0!2sm!3i434139772!3m14!2svi-VN!3sUS!5e18!12m1!1e68!12m3!1e37!2m1!1ssmartmaps!12m4!1e26!2m2!1sstyles!2zcC5oOiNkNDlmMDB8cC5zOi0yMCxzLnQ6M3xzLmU6Z3xwLmw6NTB8cC52OnNpbXBsaWZpZWQscy50OjN8cy5lOmx8cC52Om9u!4e0!5m1!5f2!23i1301875&key=AIzaSyBoX04lsIHEnZ5Tgbj4g5FLFZx_ZiTsmtM&token=9965', style='width: 256px; height: 256px; user-select: none; border: 0px; padding: 0px; margin: 0px; max-width: none;')
                    div(style='position: absolute; left: 512px; top: 0px; width: 256px; height: 256px;')
                      img(draggable='false', alt='', aria-hidden='true', src='https://maps.googleapis.com/maps/vt?pb=!1m5!1m4!1i14!2i13048!3i7698!4i256!2m3!1e0!2sm!3i434139772!3m14!2svi-VN!3sUS!5e18!12m1!1e68!12m3!1e37!2m1!1ssmartmaps!12m4!1e26!2m2!1sstyles!2zcC5oOiNkNDlmMDB8cC5zOi0yMCxzLnQ6M3xzLmU6Z3xwLmw6NTB8cC52OnNpbXBsaWZpZWQscy50OjN8cy5lOmx8cC52Om9u!4e0!5m1!5f2!23i1301875&key=AIzaSyBoX04lsIHEnZ5Tgbj4g5FLFZx_ZiTsmtM&token=125587', style='width: 256px; height: 256px; user-select: none; border: 0px; padding: 0px; margin: 0px; max-width: none;')
                    div(style='position: absolute; left: 512px; top: 256px; width: 256px; height: 256px;')
                      img(draggable='false', alt='', aria-hidden='true', src='https://maps.googleapis.com/maps/vt?pb=!1m5!1m4!1i14!2i13048!3i7699!4i256!2m3!1e0!2sm!3i434139772!3m14!2svi-VN!3sUS!5e18!12m1!1e68!12m3!1e37!2m1!1ssmartmaps!12m4!1e26!2m2!1sstyles!2zcC5oOiNkNDlmMDB8cC5zOi0yMCxzLnQ6M3xzLmU6Z3xwLmw6NTB8cC52OnNpbXBsaWZpZWQscy50OjN8cy5lOmx8cC52Om9u!4e0!5m1!5f2!23i1301875&key=AIzaSyBoX04lsIHEnZ5Tgbj4g5FLFZx_ZiTsmtM&token=110138', style='width: 256px; height: 256px; user-select: none; border: 0px; padding: 0px; margin: 0px; max-width: none;')
                    div(style='position: absolute; left: -768px; top: 256px; width: 256px; height: 256px;')
                      img(draggable='false', alt='', aria-hidden='true', src='https://maps.googleapis.com/maps/vt?pb=!1m5!1m4!1i14!2i13043!3i7699!4i256!2m3!1e0!2sm!3i434139772!3m14!2svi-VN!3sUS!5e18!12m1!1e68!12m3!1e37!2m1!1ssmartmaps!12m4!1e26!2m2!1sstyles!2zcC5oOiNkNDlmMDB8cC5zOi0yMCxzLnQ6M3xzLmU6Z3xwLmw6NTB8cC52OnNpbXBsaWZpZWQscy50OjN8cy5lOmx8cC52Om9u!4e0!5m1!5f2!23i1301875&key=AIzaSyBoX04lsIHEnZ5Tgbj4g5FLFZx_ZiTsmtM&token=43837', style='width: 256px; height: 256px; user-select: none; border: 0px; padding: 0px; margin: 0px; max-width: none;')
                    div(style='position: absolute; left: -768px; top: 0px; width: 256px; height: 256px;')
                      img(draggable='false', alt='', aria-hidden='true', src='https://maps.googleapis.com/maps/vt?pb=!1m5!1m4!1i14!2i13043!3i7698!4i256!2m3!1e0!2sm!3i434139772!3m14!2svi-VN!3sUS!5e18!12m1!1e68!12m3!1e37!2m1!1ssmartmaps!12m4!1e26!2m2!1sstyles!2zcC5oOiNkNDlmMDB8cC5zOi0yMCxzLnQ6M3xzLmU6Z3xwLmw6NTB8cC52OnNpbXBsaWZpZWQscy50OjN8cy5lOmx8cC52Om9u!4e0!5m1!5f2!23i1301875&key=AIzaSyBoX04lsIHEnZ5Tgbj4g5FLFZx_ZiTsmtM&token=59286', style='width: 256px; height: 256px; user-select: none; border: 0px; padding: 0px; margin: 0px; max-width: none;')
                    div(style='position: absolute; left: -768px; top: -256px; width: 256px; height: 256px;')
                      img(draggable='false', alt='', aria-hidden='true', src='https://maps.googleapis.com/maps/vt?pb=!1m5!1m4!1i14!2i13043!3i7697!4i256!2m3!1e0!2sm!3i434139772!3m14!2svi-VN!3sUS!5e18!12m1!1e68!12m3!1e37!2m1!1ssmartmaps!12m4!1e26!2m2!1sstyles!2zcC5oOiNkNDlmMDB8cC5zOi0yMCxzLnQ6M3xzLmU6Z3xwLmw6NTB8cC52OnNpbXBsaWZpZWQscy50OjN8cy5lOmx8cC52Om9u!4e0!5m1!5f2!23i1301875&key=AIzaSyBoX04lsIHEnZ5Tgbj4g5FLFZx_ZiTsmtM&token=74735', style='width: 256px; height: 256px; user-select: none; border: 0px; padding: 0px; margin: 0px; max-width: none;')
                    div(style='position: absolute; left: 768px; top: -256px; width: 256px; height: 256px;')
                      img(draggable='false', alt='', aria-hidden='true', src='https://maps.googleapis.com/maps/vt?pb=!1m5!1m4!1i14!2i13049!3i7697!4i256!2m3!1e0!2sm!3i434139772!3m14!2svi-VN!3sUS!5e18!12m1!1e68!12m3!1e37!2m1!1ssmartmaps!12m4!1e26!2m2!1sstyles!2zcC5oOiNkNDlmMDB8cC5zOi0yMCxzLnQ6M3xzLmU6Z3xwLmw6NTB8cC52OnNpbXBsaWZpZWQscy50OjN8cy5lOmx8cC52Om9u!4e0!5m1!5f2!23i1301875&key=AIzaSyBoX04lsIHEnZ5Tgbj4g5FLFZx_ZiTsmtM&token=128082', style='width: 256px; height: 256px; user-select: none; border: 0px; padding: 0px; margin: 0px; max-width: none;')
                    div(style='position: absolute; left: 768px; top: 0px; width: 256px; height: 256px;')
                      img(draggable='false', alt='', aria-hidden='true', src='https://maps.googleapis.com/maps/vt?pb=!1m5!1m4!1i14!2i13049!3i7698!4i256!2m3!1e0!2sm!3i434139772!3m14!2svi-VN!3sUS!5e18!12m1!1e68!12m3!1e37!2m1!1ssmartmaps!12m4!1e26!2m2!1sstyles!2zcC5oOiNkNDlmMDB8cC5zOi0yMCxzLnQ6M3xzLmU6Z3xwLmw6NTB8cC52OnNpbXBsaWZpZWQscy50OjN8cy5lOmx8cC52Om9u!4e0!5m1!5f2!23i1301875&key=AIzaSyBoX04lsIHEnZ5Tgbj4g5FLFZx_ZiTsmtM&token=112633', style='width: 256px; height: 256px; user-select: none; border: 0px; padding: 0px; margin: 0px; max-width: none;')
                    div(style='position: absolute; left: 768px; top: 256px; width: 256px; height: 256px;')
                      img(draggable='false', alt='', aria-hidden='true', src='https://maps.googleapis.com/maps/vt?pb=!1m5!1m4!1i14!2i13049!3i7699!4i256!2m3!1e0!2sm!3i434139772!3m14!2svi-VN!3sUS!5e18!12m1!1e68!12m3!1e37!2m1!1ssmartmaps!12m4!1e26!2m2!1sstyles!2zcC5oOiNkNDlmMDB8cC5zOi0yMCxzLnQ6M3xzLmU6Z3xwLmw6NTB8cC52OnNpbXBsaWZpZWQscy50OjN8cy5lOmx8cC52Om9u!4e0!5m1!5f2!23i1301875&key=AIzaSyBoX04lsIHEnZ5Tgbj4g5FLFZx_ZiTsmtM&token=97184', style='width: 256px; height: 256px; user-select: none; border: 0px; padding: 0px; margin: 0px; max-width: none;')
              .gm-style-pbc(style='z-index: 2; position: absolute; height: 100%; width: 100%; padding: 0px; border-width: 0px; margin: 0px; left: 0px; top: 0px; opacity: 0;')
                p.gm-style-pbt
              div(style='z-index: 3; position: absolute; height: 100%; width: 100%; padding: 0px; border-width: 0px; margin: 0px; left: 0px; top: 0px; touch-action: pan-x pan-y;')
                div(style='z-index: 4; position: absolute; left: 50%; top: 50%; width: 100%; transform: translate(0px, 0px);')
                  div(style='position: absolute; left: 0px; top: 0px; z-index: 104; width: 100%;')
                  div(style='position: absolute; left: 0px; top: 0px; z-index: 105; width: 100%;')
                  div(style='position: absolute; left: 0px; top: 0px; z-index: 106; width: 100%;')
                    div(title='', style='width: 150px; height: 170px; overflow: hidden; position: absolute; opacity: 0; cursor: pointer; touch-action: none; left: -75px; top: -170px; z-index: 0;')
                      img(alt='', src='https://btq.vn/catalog/view/theme/default/images/logo_btq.png', draggable='false', style='position: absolute; left: 0px; top: 0px; user-select: none; width: 150px; height: 170px; border: 0px; padding: 0px; margin: 0px; max-width: none;')
                  div(style='position: absolute; left: 0px; top: 0px; z-index: 107; width: 100%;')
            iframe(aria-hidden='true', frameborder='0', style='z-index: -1; position: absolute; width: 100%; height: 100%; top: 0px; left: 0px; border: none;', src='about:blank')
            div(style='margin-left: 5px; margin-right: 5px; z-index: 1000000; position: absolute; left: 0px; bottom: 0px;')
              a(target='_blank', rel='noopener', href='https://maps.google.com/maps?ll=10.779641,106.664214&z=14&hl=vi-VN&gl=US&mapclient=apiv3', title='Nhấp để xem khu vực này trên Google Maps', style='position: static; overflow: visible; float: none; display: inline;')
                div(style='width: 66px; height: 26px; cursor: pointer;')
                  img(alt='', src='https://maps.gstatic.com/mapfiles/api-3/images/google_white5_hdpi.png', draggable='false', style='position: absolute; left: 0px; top: 0px; width: 66px; height: 26px; user-select: none; border: 0px; padding: 0px; margin: 0px;')
            div(style='background-color: white; padding: 15px 21px; border: 1px solid rgb(171, 171, 171); font-family: Roboto, Arial, sans-serif; color: rgb(34, 34, 34); box-sizing: border-box; box-shadow: rgba(0, 0, 0, 0.2) 0px 4px 16px; z-index: 10000002; display: none; width: 300px; height: 180px; position: absolute; left: 610px; top: 65px;')
              div(style='padding: 0px 0px 10px; font-size: 16px;') Dữ liệu Bản đồ
              div(style='font-size: 13px;') Dữ liệu bản đồ ©2018 Google
              div(style='width: 13px; height: 13px; overflow: hidden; position: absolute; opacity: 0.7; right: 12px; top: 12px; z-index: 10000; cursor: pointer;')
                img(alt='', src='https://maps.gstatic.com/mapfiles/api-3/images/mapcnt6.png', draggable='false', style='position: absolute; left: -2px; top: -336px; width: 59px; height: 492px; user-select: none; border: 0px; padding: 0px; margin: 0px; max-width: none;')
            .gmnoprint(style='z-index: 1000001; position: absolute; right: 100px; bottom: 0px; width: 142px;')
              .gm-style-cc(draggable='false', style='user-select: none; height: 14px; line-height: 14px;')
                div(style='opacity: 0.7; width: 100%; height: 100%; position: absolute;')
                  div(style='width: 1px;')
                  div(style='background-color: rgb(245, 245, 245); width: auto; height: 100%; margin-left: 1px;')
                div(style='position: relative; padding-right: 6px; padding-left: 6px; font-family: Roboto, Arial, sans-serif; font-size: 10px; color: rgb(68, 68, 68); white-space: nowrap; direction: ltr; text-align: right; vertical-align: middle; display: inline-block;')
                  a(style='text-decoration: none; cursor: pointer; display: none;') Dữ liệu Bản đồ
                  span Dữ liệu bản đồ ©2018 Google
            .gmnoscreen(style='position: absolute; right: 0px; bottom: 0px;')
              div(style='font-family: Roboto, Arial, sans-serif; font-size: 11px; color: rgb(68, 68, 68); direction: ltr; text-align: right; background-color: rgb(245, 245, 245);') Dữ liệu bản đồ ©2018 Google
            .gmnoprint.gm-style-cc(draggable='false', style='z-index: 1000001; user-select: none; height: 14px; line-height: 14px; position: absolute; right: 0px; bottom: 0px;')
              div(style='opacity: 0.7; width: 100%; height: 100%; position: absolute;')
                div(style='width: 1px;')
                div(style='background-color: rgb(245, 245, 245); width: auto; height: 100%; margin-left: 1px;')
              div(style='position: relative; padding-right: 6px; padding-left: 6px; font-family: Roboto, Arial, sans-serif; font-size: 10px; color: rgb(68, 68, 68); white-space: nowrap; direction: ltr; text-align: right; vertical-align: middle; display: inline-block;')
                a(href='https://www.google.com/intl/vi-VN_US/help/terms_maps.html', target='_blank', rel='noopener', style='text-decoration: none; cursor: pointer; color: rgb(68, 68, 68);') Điều khoản sử dụng
            button.gm-control-active.gm-fullscreen-control(draggable='false', title='Chuyển đổi chế độ xem toàn màn hình', aria-label='Chuyển đổi chế độ xem toàn màn hình', type='button', style='background: none rgb(255, 255, 255); border: 0px; margin: 10px; padding: 0px; position: absolute; cursor: pointer; user-select: none; border-radius: 2px; height: 40px; width: 40px; box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 4px -1px; overflow: hidden; display: none; top: 0px; right: 0px;')
              img(src='data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2218%22%20height%3D%2218%22%20viewBox%3D%220%20018%2018%22%3E%0A%20%20%3Cpath%20fill%3D%22%23666%22%20d%3D%22M0%2C0v2v4h2V2h4V0H2H0z%20M16%2C0h-4v2h4v4h2V2V0H16z%20M16%2C16h-4v2h4h2v-2v-4h-2V16z%20M2%2C12H0v4v2h2h4v-2H2V12z%22%2F%3E%0A%3C%2Fsvg%3E%0A', style='height: 18px; width: 18px; margin: 11px;')
              img(src='data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2218%22%20height%3D%2218%22%20viewBox%3D%220%200%2018%2018%22%3E%0A%20%20%3Cpath%20fill%3D%22%23333%22%20d%3D%22M0%2C0v2v4h2V2h4V0H2H0z%20M16%2C0h-4v2h4v4h2V2V0H16z%20M16%2C16h-4v2h4h2v-2v-4h-2V16z%20M2%2C12H0v4v2h2h4v-2H2V12z%22%2F%3E%0A%3C%2Fsvg%3E%0A', style='height: 18px; width: 18px; margin: 11px;')
              img(src='data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2218%22%20height%3D%2218%22%20viewBox%3D%220%200%2018%2018%22%3E%0A%20%20%3Cpath%20fill%3D%22%23111%22%20d%3D%22M0%2C0v2v4h2V2h4V0H2H0z%20M16%2C0h-4v2h4v4h2V2V0H16z%20M16%2C16h-4v2h4h2v-2v-4h-2V16z%20M2%2C12H0v4v2h2h4v-2H2V12z%22%2F%3E%0A%3C%2Fsvg%3E%0A', style='height: 18px; width: 18px; margin: 11px;')
            .gm-style-cc(draggable='false', style='user-select: none; height: 14px; line-height: 14px; display: none; position: absolute; right: 0px; bottom: 0px;')
              div(style='opacity: 0.7; width: 100%; height: 100%; position: absolute;')
                div(style='width: 1px;')
                div(style='background-color: rgb(245, 245, 245); width: auto; height: 100%; margin-left: 1px;')
              div(style='position: relative; padding-right: 6px; padding-left: 6px; font-family: Roboto, Arial, sans-serif; font-size: 10px; color: rgb(68, 68, 68); white-space: nowrap; direction: ltr; text-align: right; vertical-align: middle; display: inline-block;')
                a(target='_blank', rel='noopener', title='Báo cáo lỗi trong bản đồ đường hoặc hình ảnh đến Google', href='https://www.google.com/maps/@10.779641,106.664214,14z/data=!10m1!1e1!12b1?source=apiv3&rapsrc=apiv3', style='font-family: Roboto, Arial, sans-serif; font-size: 10px; color: rgb(68, 68, 68); text-decoration: none; position: relative;') Báo cáo một lỗi bản đồ
      .zoom-control
        a#zoom-in.zoom-in(href='javascript:void(0);')
          i.fa.fa-plus
        a#zoom-out.zoom-out(href='javascript:void(0);')
          i.fa.fa-minus
    .section__link-other
      a(href="javascript:;")
        h3 Dự án <strong>thực hiện</strong>
        span
          i.fas.fa-external-link-square-alt
