.section.section--green.section--skew-t.text-center.section--one-col.load-hidden.section--prod-list
  .section__inner
    .section__box.mg-bot-0
      h3.section__ttl services
      h4.section__sm-ttl BUTTON CLAMSHELL LTD.
      .section__desc
        ul
          li
            i.fas.fa-map-marker-alt
            span 68/58 Đồng Nai, Phường 15, quận 10, Tp. HCM
          li
            i.fas.fa-phone-square
            a(href="tel:234") 028 6296 8556
            a(href="tel:234") 028 6264 9153
          li
            i.fas.fa-envelope
            a(href="#") contact@btq.vn
            a(href="#") customercare@btq.vn
          li
            i.fas.fa-globe-americas
            a(href="#") www.btq.vn