/*
*  Background.
*  --
*  @company    Amaris
*  @author
*  @version    0.1.0
*  --
*
*  
*
*
*/

.bg-wrap {
    height: 100vh;
    width: 100%;
    left: 0;
    top: 0;
    position: fixed;
    backface-visibility: hidden;
    z-index: -1;
    &.inactivated {
        animation-fill-mode: backwards;
    }
    &__inner {
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        background: -webkit-linear-gradient(135deg,#a7c04e 0,#6ab9e2 100%);
        background: linear-gradient(135deg,#a7c04e 0,#6ab9e2 100%);
    }
}