/*
*  Header.
*  --
*  @company    Amaris
*  @author
*  @version    0.1.0
*  --
*
*  
*
*
*/

.heading {
    padding: 30px 0;
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    width: auto;
    height: auto;
    z-index: 3;
    .far {
        margin: 0 15px 0 200px;
        font-weight: 400;
        font-size: 20px;
        height: 20px;
        line-height: 20px;
        text-align: left;
        color: #fff;
        display: inline-block;
        vertical-align: middle;
    }
    h2 {
        font-family: Montserrat,sans-serif;
        font-weight: 700;
        font-size: 36px;
        line-height: 1.1;
        text-transform: uppercase;
        white-space: nowrap;
        // letter-spacing: -1px;
        color: white;
        display: inline-block;
        vertical-align: middle;
        margin: 0;
    }
}

.logo-wrap {
    width: 160px;
    height: 40px;
    position: fixed;
    top: 30px;
    left: 30px;
    z-index: 20;
    a {
        display: block;
    }
    img {
        max-width: 100%;
    }
}

.nav-click {
    position: fixed;
    top: 7px;
    right: 30px;
    width: 50px;
    height: 50px;
    padding: 0;
    cursor: pointer;
    background-color: rgba(0,0,0,0);
    z-index: 20;
    &:before, &:after {
        content: '';
        position: absolute;
        top: 50%;
        left: 0;
        width: 100%;
        height: 2px;
        -webkit-transition: -webkit-transform 150ms;
        transition: transform 150ms;
        -webkit-transform-origin: 50% 50%;
        transform-origin: 50% 50%;
    }
    &:before {
        @include transform(translate3d(0,-10px,0) scale3d(.8,1,1));
    }
    &:after {
        @include transform(translate3d(0,10px,0) scale3d(.8,1,1));
    }
    &:before, &:after, &__line {
        background-color: #fff;
        box-shadow: 3px 3px 0 rgba(0,0,0,.1);
    }
    &--opened {
        &:before {
            -webkit-transform: rotate3d(0,0,1,45deg);
            transform: rotate3d(0,0,1,45deg);
        }
        &:after {
            -webkit-transform: rotate3d(0,0,1,-45deg);
            transform: rotate3d(0,0,1,-45deg);
        }
        .nav-click__line {
            opacity: 0;
        }
    }
    &__line {
        position: absolute;
        left: 0;
        top: 25px;
        width: 100%;
        height: 2px;
        -webkit-transition: opacity .2s;
        transition: opacity .2s;
    }
}