/*
*  Home slider.
*  --
*  @company    Amaris
*  @author
*  @version    0.1.0
*  --
*
*  
*
*
*/

.home-slider {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    z-index: 15;
    @include transform(translate3d(0,0,0));
    @include transition(all .8s cubic-bezier(.6,0,.4,1));
    & {
        opacity: 0;
        visibility: hidden;
    }
    &.home-slider--scrolled {
        @include transform(translate3d(0,100%,0));
    }
    &--opened {
        opacity: 1;
        visibility: visible;
    }
    &__itm {
        position: relative;
        height: 100vh;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    &__ttl {
        position: absolute;
        left: 40px;
        bottom: 30px;
        width: 40px;
        height: auto;
        font-family: $fontMont;
        font-weight: 900;
        font-size: 36px;
        text-transform: uppercase;
        white-space: nowrap;
        color: white;
        @include transform(translate3d(-100%,0,0) rotate(-90deg));
        @include transition(all .6s linear);
        transform-origin: left top;
        margin: 0;
        opacity: 0;
        &--animate {
            opacity: 1;
            @include transform(translate3d(0,0,0) rotate(-90deg));
            // -webkit-transition-delay: 1s;
            // transition-delay: 1s;
        }
    }
}