/*
*  Loading.
*  --
*  @company    Amaris
*  @author
*  @version    0.1.0
*  --
*
*  
*
*
*/

.loading {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 50px;
    height: 50px;
    line-height: 65px;
    text-align: center;
    margin: -25px 0 0 -25px;
    z-index: 20;
    .fa-spinner {
        color: #ddd;
        font-size: 40px;
    }
}