/*
*  Logo stroke.
*  --
*  @company    Amaris
*  @author
*  @version    0.1.0
*  --
*
*  
*
*
*/

.logo-stroke {
    position: absolute;
    top: 50%;
    left: 50%;
    @include transform(translate3d(-50%, -50%, 0));
    width: 50%;
    z-index: 16;
    display: none;
    &--opened {
        display: block;
    }
    path {
        stroke: #fff;
        fill: none;
        stroke-dasharray: 1800;
        stroke-width: 1;
        stroke-miterlimit: 10;
        stroke-dasharray: 1000;
        stroke-dashoffset: 1000;
        animation-name: animate-path;
        animation-duration: 1.8s;
        animation-fill-mode: forwards;
        animation-delay: 0;
        animation-direction: alternate;
        animation-iteration-count: 2;
        animation-timing-function: linear;
    }
}

@keyframes animate-path {
    100% {
        stroke-dashoffset: 0
    }
}