.scroll-down {
  width: 60px;
  height: 60px;
  position: absolute;
  right: 30px;
  bottom: 30px;
  text-align: center;
  z-index: 5;
  cursor: pointer;
  &:hover {
    .line-color {
      stroke: none;
    }
    .fill-color {
      fill: gold;
    }
  }
  &.aniscroll {
    .line-color {
      stroke-dasharray: 500;
      stroke-dashoffset: 500;
      -webkit-animation-name: ScrollStroke;
      animation-name: ScrollStroke;
      -webkit-animation-duration: 1.5s;
      animation-duration: 1.5s;
      animation-fill-mode: forwards;
      -webkit-animation-iteration-count: 1;
      animation-iteration-count: 1;
      -webkit-animation-direction: normal;
      animation-direction: normal;
      animation-timing-function: linear;
    }
  }
  .line-color {
    fill: none;
    stroke: rgba(255,255,255,.8);
    stroke-miterlimit: 10;
    stroke-width: 1;
    stroke-dasharray: 500;
    stroke-dashoffset: 500;
  }
  .fill-color {
    fill: rgba(255, 255, 255, .1);
  }
  span {
    font-weight: 300;
    font-size: 12px;
    text-align: center;
    color: rgba(255, 255, 255, .8);
    text-transform: uppercase;
    margin: 5px 0 0;
    @include transition(all .3s ease-in-out);
    font-family: $fontRoboto;
  }
}

.scroll-up {
  width: 60px;
  height: 60px;
  line-height: 60px;
  position: fixed;
  right: 30px;
  bottom: 30px;
  text-align: center;
  z-index: 4;
  cursor: pointer;
  font-size: 50px;
  color: rgba(0,0,0,.3);
  opacity: 0;
  &:hover {
    color: gold;
  }
}