.section {
  &--prod {
    &.section--green { // nest one more level to overide background
      &:before {
        background: #b6b6b6;
        height: 100px;
        top: -50px;
      }
    }
    .section__inner {
      // padding: 0 0 100px;
      z-index: 1;
      overflow: visible;
      padding: 0 15px;
      background: transparent;
    }
    .section__ttl {
      margin: 0 0 20px;
    }
  }
  .section__nav {
    margin: 0 -15px;
    display: block;
    text-align: center;
    background: #b6b6b6;
    padding: 30px 0;
    &-list {
      display: inline-block;
    }
    &-itm.section__nav-itm--active {
      a {
        color: $gold;
        text-decoration: none;
        i {
          color: $gold;
        }
      }
    }
    &-itm {
      display: inline-block;
      margin: 0;
      vertical-align: middle;
      a {
        display: block;
        background: transparent;
        margin: 0;
        padding: 0 15px;
        transition: color .3s ease-out;
        color: white;
        &:hover {
          color: $gold;
          text-decoration: none;
          i {
            color: $gold;
          }
        }
        &:focus {
          text-decoration: none;
        }
        i {
          color: white;
          font-size: 30px;
          display: inline-block;
          margin: 0 8px 0 0;
          vertical-align: middle;
          transition: color .3s ease-out;
        }
      }
    }
  }
  &__proj-list {
    // padding: 30px 15px 0;
    padding-top: 30px;
  }
  &__proj {
    margin: 0 0 30px;
  }
  &__proj-wrap {
    display: block;
    height: 413px;
    padding: 20px;
    &:hover {
      .section__proj-bder {
        border: 5px solid white;
      }
      .section__proj-arr {
        background: white;
      }
    }
  }
  &__proj-bder {
    height: 100%;
    border: 5px solid transparent;
    transition: border .3s ease-out;
    position: relative;
  }
  &__proj-inner {
    height: 100%;
    background-size: cover;
    background-position: center;
  }
  &__proj-heading {
    position: absolute;
    top: -5px;
    left: -5px;
    text-align: left;
  }
  &__proj-ttl {
    padding: 10px 20px;
    margin: 0 0 0 -6px;
    font-weight: bold;
    font-size: 22px;
    text-transform: uppercase;
    color: white;
    font-family: $fontRoboto;
  }
  &__proj-cat {
    padding: 5px 10px;
    font-size: 13px;
    font-family: Arial,Helvetica,sans-serif;
    background: rgba(0,0,0,.6);
    margin: 0 0 0 5px;
    display: inline-block;
    color: white;
  }
  &__proj-arr {
    position: absolute;
    top: -8px;
    right: -8px;
    font-size: 40px;
    width: 42px;
    height: 42px;
    line-height: 45px;
    text-align: center;
    overflow: hidden;
    background: transparent;
    transition: background-color .3s ease-out;
  }
  }