.section {
  font-family: $fontRoboto;
  position: relative;
  &:first-child {
    .section__inner {
      padding: 10% 0 18% 5%;
      text-align: left;
      background-position: center top;
    }
  }
  // Play svg
  &--play-svg {
    .section__img-banner {
      .stroke-number {
        opacity: 1;
        -webkit-animation-name: DrawStroke;
        animation-name: DrawStroke;
        -webkit-animation-duration: 1.8s;
        animation-duration: 1.8s;
        -webkit-animation-fill-mode: forwards;
        animation-fill-mode: forwards;
        -webkit-animation-iteration-count: 1;
        animation-iteration-count: 1;
        -webkit-animation-direction: normal;
        animation-direction: normal;
        -webkit-animation-timing-function: linear;
        animation-timing-function: linear;
        -webkit-animation-delay: 1s;
        animation-delay: 1s;
      }
    }
  }
  &--one-col {
    .section__inner {
      padding: 100px 0;
    }
    .section__box {
      max-width: 1000px;
      margin-left: auto;
      margin-right: auto;
    }
    .pd-bot-0 {
      padding-bottom: 0;
    }
  }
  &--two-cols {
    .section__inner {
      display: flex;
    }
    .section__box {
      width: 50%;
      margin: 0;
      padding: 50px 5% 150px;
    }
  }
  &--green {
    .section__inner {
      background-color: #82c774;
    }
    &.section--skew-t {
      &:before {
        background-color: #82c774;
      }
    }
    &.section--skew-t-b {
      &:before {
        background-color: #82c774;
      }
      &:after {
        background-color: #82c774;
      }
    }
  }
  &--blue {
    .section__inner {
      background-color: #53c6ec;
    }
    &.section--skew-t {
      &:before {
        background-color: #53c6ec;
      }
    }
    &.section--skew-t-b {
      &:before {
        background-color: #53c6ec;
      }
      &:after {
        background-color: #53c6ec;
      }
    }
  }
  &--skew-t {
    &:before {
      content: "";
      height: 100px;
      width: 100%;
      @include transform(skewY(-3deg));
      position: absolute;
      top: -50px;
      left: 0;
      z-index: 1;
    }
  }
  &--skew-t-b {
    &:before {
      content: "";
      height: 100px;
      width: 100%;
      @include transform(skewY(-3deg));
      position: absolute;
      top: -50px;
      left: 0;
      z-index: 1;
    }
    &:after {
      content: "";
      height: 100px;
      width: 100%;
      @include transform(skewY(3deg));
      position: absolute;
      bottom: -50px;
      left: 0;
      z-index: 1;
    }
  }
  &--ctact-banner {
    &:first-child {
      .section__inner {
        padding: 17% 0;
      }
    }
    .section__img-banner {
      margin: 0 auto;
      @include transform(perspective(800px) rotateY(18deg) rotateZ(8deg) rotateX(8deg) skewY(-14deg) skewX(29deg));
    }
  }
  &--prd-banner {
    &:first-child {
      .section__inner {
        padding: 17% 0;
        text-align: right;
      }
    }
    .section__img-banner {
      display: inline-block;
      height: 400px;
      width: 550px;
      @include transform(perspective(800px) rotateY(0) rotateZ(0) rotateX(0) skewY(0) skewX(0));
    }
  }
  &__cover {
    float: left;
    width: 50%;
    @include transition(opacity .6s ease-out);
    background-position: center;
    background-attachment: scroll;
    background-repeat: no-repeat;
    background-size: cover;
  }
  &__inner {
    width: 100%;
    position: relative;
    margin: 0;
    overflow: hidden;
    background-position: center center;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    background-attachment: scroll;
    color: white;
    &.pd-0 {
      padding: 0;
    }
  }
  &__img-banner {
    @include transform(perspective(1000px) rotateY(25deg) skewY(-5deg));
    max-height: 400px;
    max-width: 550px;
    svg {
      fill: white;
    }
    .stroke-number {
      fill: none;
      stroke: white;
      stroke-miterlimit: 10;
      stroke-width: 1;
      stroke-dasharray: 0;
      stroke-dashoffset: 800;
      -webkit-animation-delay: 1.2s;
      animation-delay: 1.2s;
      opacity: 0;
    }
  }
  &__ttl {
    font-weight: 300;
    font-size: 48px;
    color: #fff;
    margin: 20px 0;
    text-transform: inherit;
    line-height: 1.2;
  }
  &__link-other {
    padding: 0 0 50px;
    position: relative;
    background: #61caec;
    &:before {
      content: "";
      position: absolute;
      background: #61caec;
      width: 100%;
      height: 150px;
      left: 0;
      top: -50px;
      @include transform(skewY(-3deg));
    }
    a {
      display: inline-block;
      position: relative;
      z-index: 10;
    }
    h3 {
      float: left;
      font-weight: 100;
      font-size: 50px;
      line-height: 40px;
      letter-spacing: 0;
      text-align: right;
      color: #fff;
      padding: 5px 10px;
      strong {
        display: block;
        font-weight: bold;
      }
    }
    span {
      float: left;
      font-size: 100px;
      color: white;
      line-height: 90px;
    }
  }
  &__box {
    padding: 0 100px;
    margin: 0 0 150px;
    &.mg-bot-0 {
      padding-bottom: 0;
    }
  }
  &__googlemap {
    width: 100%;
    height: 80vh;
    position: relative;
    display: block;
    padding: 0;
  }
  &__map-canvas {
    height: 100%;
  }
  .section__sm-ttl {
    text-transform: uppercase;
    line-height: 1.4;
    color: white;
    text-align: center;
    margin: 20px 0;
  }
  p {
    font-size: 16px;
    font-weight: 300;
    margin: 0 0 20px;
    line-height: 1.6;
    text-align: justify;
  }
}

.section__desc {
  ul {
    text-decoration: none;
    li {
      display: block;
      margin: 0 0 10px;
      i {
        vertical-align: middle;
        color: white;
        font-size: 36px;
      }
      a, span {
        background: #009bcf;
        font-weight: 300;
        text-align: center;
        line-height: 1.4;
        padding: 5px 10px;
        margin: 0 5px;
        display: inline-block;
        color: white;
        vertical-align: middle;
        font-size: 16px;
      }
      a {
        @include transition(all .5s ease-in-out);
        &:hover {
          background: #fcd62c;
          color: black;
        }
      }
    }
  }
}