/*
*  Social block.
*  --
*  @company    Amaris
*  @author
*  @version    0.1.0
*  --
*
*  
*
*
*/

.social-blk {
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
    z-index: 16;
    opacity: 0;
    visibility: hidden;
    @include transform(translate3d(0,0,0));
    @include transition(all .8s cubic-bezier(.6,0,.4,1));
    &--opened {
        opacity: 1;
        visibility: visible;
    }
    &--scrolled {
        @include transform(translate3d(0,200%,0));
    }
    .top-menu__social {
        @include transform(none);
        @include transition(none);
        opacity: 1;
    }
}