/*
*  Top menu.
*  --
*  @company    Amaris
*  @author
*  @version    0.1.0
*  --
*
*  
*
*
*/

.top-menu {
    position: fixed;
    top: 0;
    left: 0;
    margin: 0;
    width: 100%;
    height: 100vh;
    text-align: center;
    opacity: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    z-index: 19;
    visibility: hidden;
    &.top-menu--opened {
        opacity: 1;
        visibility: visible;
        .top-menu__itm, .top-menu__social, .top-menu__comp-info {
            opacity: 1;
            @include transform(translate3d(0, 0, 0));
        }
    }
    &__list {
        list-style-type: none;
    }
    &__itm {
        display: inline-block;
        vertical-align: middle;
        @include transform(translate3d(0, 100%, 0));
        @include transition(all .3s ease-in-out);
        opacity: 0;
        padding: 10px 20px;
        &:not(.top-menu__itm--current):hover, &--current {
            .top-menu__itm-home, .top-menu__itm-page {
                color: $gold;
                &:before {
                    @include transform(scale3d(1,1,1));
                }
            }
        }
        &:nth-child(1) {
            -webkit-transition-delay: 50ms;
            transition-delay: 50ms;
        }
        &:nth-child(2) {
            -webkit-transition-delay: 100ms;
            transition-delay: 100ms;
        }
        &:nth-child(3) {
            -webkit-transition-delay: 150ms;
            transition-delay: 150ms;
        }
        &:nth-child(4) {
            -webkit-transition-delay: 200ms;
            transition-delay: 200ms;
        }
        &:nth-child(5) {
            -webkit-transition-delay: 250ms;
            transition-delay: 250ms;
        }
    }
    &__itm-home, &__itm-page {
        display: block;
        position: relative;
        &:before {
            position: absolute;
            top: 100%;
            left: 50%;
            height: 1px;
            background-color: $gold;
            width: 50px;
            content: '';
            margin: 4px 0 0 -25px;
            @include transform(scale3d(0,1,1));
            @include transition(all .3s ease-in-out);
        }
    }
    &__itm-home {
        .fa-home {
            font-size: 40px;
            color: $gold;
        }
    }
    &__itm-page {
        font-family: $fontMont;
        letter-spacing: 1px;
        text-transform: uppercase;
        white-space: nowrap;
        color: white;
        @include transition(color .3s ease-in-out);
        font-weight: 700;
        font-size: 40px;
    }
    &__social {
        margin: 30px 0;
        text-align: center;
        opacity: 0;
        @include transform(translate3d(0, 100%, 0));
        @include transition(all .3s ease-in-out);
        -webkit-transition-delay: .2s;
        transition-delay: .2s;
    }
    &__social-itm {
        display: inline-block;
        vertical-align: middle;
        width: 50px;
        height: 50px;
        margin: 5px;
        @include border-radius(50%);
        overflow: hidden;
        @include transition(all .3s ease-in-out);
        &:hover {
            background-color: $gold;
            color: white;
        }
        &--lang {
            font-weight: 700;
            font-size: 24px;
            line-height: 48px;
            color: #bbb;
            background-color: white;
        }
        &--face {
            background-color: #537bbd;
            .fa-facebook-f {
                color: white;
                font-size: 24px;
                line-height: 48px;
            }
        }
    }
    &__comp-info {
        opacity: 0;
        font-size: 13px;
        font-weight: 300;
        line-height: 1.2;
        color: white;
        text-transform: uppercase;
        font-family: $fontRoboto;
        @include transform(translate3d(0, 100%, 0));
        @include transition(all .3s ease-in-out);
        -webkit-transition-delay: .2s;
        transition-delay: .3s;
    }
}