.logo-stroke
    svg#Layer_1(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewBox='0 0 1339 231', style='enable-background:new 0 0 1339 231;', xml:space='preserve')
        style(type='text/css').
            .st0{fill:none;stroke:#FFFFFF;stroke-width:3;stroke-miterlimit:10;}
        g
            path.st0(d='M34.9,124.1c0-42.6,32.6-72.8,77-72.8c25.8,0,46.6,9.4,60.2,26.4l-25.2,22.8c-8.8-10.6-19.6-16.4-33-16.4\
            c-23,0-39,16-39,40s16,40,39,40c13.4,0,24.2-5.8,33-16.4l25.2,22.8c-13.6,17-34.4,26.4-60.2,26.4C67.5,196.9,34.9,166.7,34.9,124.1\
            z')
            path.st0(d='M189.7,54.1h39.6v108.6h66.8v31.4H189.7V54.1z')
            path.st0(d='M407.1,166.9h-59.2l-11,27.2h-40.4l61.8-140h39l62,140h-41.2L407.1,166.9z M395.5,137.7l-18-44.8l-18,44.8\
            H395.5z')
            path.st0(d='M596.9,194.1l-0.4-74.2l-36,60.4h-17.6l-35.8-58.4v72.2h-36.6v-140h32.6l49.2,80.8l48-80.8h32.6l0.4,140H596.9\
            z')
            path.st0(d='M651.5,181.5l13-29.2c12.4,8.2,30,13.8,46.2,13.8c16.4,0,22.8-4.6,22.8-11.4c0-22.2-79.6-6-79.6-58\
            c0-25,20.4-45.4,62-45.4c18.2,0,37,4.2,50.8,12.2l-12.2,29.4c-13.4-7.2-26.6-10.8-38.8-10.8c-16.6,0-22.6,5.6-22.6,12.6\
            c0,21.4,79.4,5.4,79.4,57c0,24.4-20.4,45.2-62,45.2C687.5,196.9,664.7,190.7,651.5,181.5z')
            path.st0(d='M923.9,54.1v140h-39.6v-54.6h-54v54.6h-39.6v-140h39.6v52.6h54V54.1H923.9z')
            path.st0(d='M1064.3,163.5v30.6H951.9v-140h109.8v30.6h-70.6v23.6h62.2v29.6h-62.2v25.6H1064.3z')
            path.st0(d='M1086.3,54.1h39.6v108.6h66.8v31.4h-106.4V54.1z')
            path.st0(d='M1208.3,54.1h39.6v108.6h66.8v31.4h-106.4V54.1z')
