//-
  HTML Head properties.
  --
  @company    amaris
  @author     LE OAI VY
  @version    1.0.0
  --
<!--[if lt IE 9]>
style(type='text/css').
  body > * {
    display: none!important;
  }
  header, section, div, footer, h1, h2, h3, h4, h5, h6, p, a {
    display: none!important;
  }
  p.ie-warning {
    display: block!important;
    text-align: center;
    padding-top: 20%;
    font-size: 24px;
  }
<![endif]-->
script(type='text/javascript').
  var isIE = /*@cc_on!@*/false || !!document.documentMode;
  if(isIE){alert('Unsupported browser. Please use modern browsers (Google Chrome, Edge, Firefox, Safari ...) to have better experience!');}
meta(charset="utf-8")
meta(http-equiv="X-UA-Compatible", content="IE=edge")
meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
title #{title}
meta(name="description", content=description)

link(href="https://fonts.googleapis.com/css?family=Montserrat:300,400,700|Roboto:300,400,700" rel="stylesheet")
link(rel="stylesheet", href="./styles/main.css")
script(src='https://unpkg.com/scrollreveal@4.0.0/dist/scrollreveal.min.js')