.top-menu
    ul.top-menu__list
        li.top-menu__itm.top-menu__itm--current
            a.top-menu__itm-home(href="/")
                i.fas.fa-home
        li.top-menu__itm
            a.top-menu__itm-page(href="./about.html")
                | ABOUT
        li.top-menu__itm
            a.top-menu__itm-page(href="./services.html")
                | SERVICES
        li.top-menu__itm
            a.top-menu__itm-page(href="./products.html")
                | PRODUCTS
        li.top-menu__itm
            a.top-menu__itm-page(href="./contact.html")
                | CONTACT
    .top-menu__social
        a.top-menu__social-itm.top-menu__social-itm--lang(href="#") en
        a.top-menu__social-itm.top-menu__social-itm--face(href="#")
            i.fab.fa-facebook-f
    .top-menu__comp-info 2018 @ <strong>BUTTON CLAMSHELL</strong> COMPANY. ALL RIGHTS RESERVED.
// END: TOP MENU