.home-slider
    .home-slider__itm(style="background-image: url('https://res.cloudinary.com/fechefs/image/upload/v1536482132/home-bg2.jpg')")
        h3.home-slider__ttl REAL ESTATE
    .home-slider__itm(style="background-image: url('https://res.cloudinary.com/fechefs/image/upload/v1536482132/home-bg3.jpg')")
        h3.home-slider__ttl FURNITURE
    .home-slider__itm(style="background-image: url('https://res.cloudinary.com/fechefs/image/upload/v1536482132/home-bg5.jpg')")
        h3.home-slider__ttl HOTEL RESTAURANT
    .home-slider__itm(style="background-image: url('https://res.cloudinary.com/fechefs/image/upload/v1536482132/home-bg4.jpg')")
        h3.home-slider__ttl ENTERTAINMENT