.section.section--green.load-hidden
  .section__inner(style="background-image: url('https://btq.vn/pictures/catalog/background/bg2.jpg')")
    .section__img-banner
      svg(xmlns='http://www.w3.org/2000/svg', x='0px', y='0px', viewBox='0 0 600 400')
        path.stroke-number(d='M61.5,10.5c10.6,36.6,18.9,66.2,24.9,88.8l24.7-88.8h3.1l13.5,48.8c2.1,7.4,5.7,20.8,10.9,40.1c1.7-7,5.9-21.9,12.7-44.7\
        c6.8-23.1,10.9-37.9,12.5-44.2l4.2,0l-27.3,93.8l-4.2,0l-23.9-87.4c-2.7,11.9-6.6,26.5-11.6,43.8L88.4,104l-4.1,0l-27-93.5\
        L61.5,10.5z', style='stroke-dashoffset: 764.827px; stroke-dasharray: 764.827, 764.827;')
        path.stroke-number(d='M179.8,10.6h47v3.6h-43.3v40.6h43.3v3.6h-43.3v42.4h43.1v3.6h-46.8L179.8,10.6L179.8,10.6z', style='stroke-dashoffset: 454.4px; stroke-dasharray: 454.4, 454.4;')
        path.stroke-number(d='M239.2,10.4c4-0.2,8.9-0.3,14.5-0.3c10,0,17.6,1.4,22.7,4.2c6.8,3.7,10.3,10.2,10.3,19.5c0,4.7-1.1,8.6-3.3,11.6\
        c-2.2,3-6,5.8-11.3,8.3c6.3,1.6,11.2,4.6,14.9,9c3.6,4.4,5.5,9.5,5.5,15.5c0,7.4-2.4,13.5-7.3,18.4c-4.8,4.9-10.9,7.3-18.2,7.3\
        h-27.8L239.2,10.4L239.2,10.4z M257.8,52.9c4.3,0,7.7-0.3,10-0.9c3.2-0.8,6.1-2.5,8.7-5c4.5-4.4,6.7-8.9,6.7-13.4\
        c0-4.6-1.9-9-5.7-13.2c-2.3-2.6-5.1-4.4-8.4-5.3c-2.4-0.6-5.7-1-10.1-1h-8.8l-7.3,0.2v38.6L257.8,52.9L257.8,52.9z M265.1,100.5\
        c6.9,0,12.6-2.1,17-6.4c4.4-4.2,6.6-9.8,6.6-16.6c0-6.5-2.8-11.9-8.5-16.1c-5.1-3.7-11-5.6-17.9-5.6c-1.5,0-4.7,0.1-9.8,0.2\
        c-5.1,0.1-8.3,0.2-9.6,0.2v44.4L265.1,100.5L265.1,100.5z', style='stroke-dashoffset: 585.083px; stroke-dasharray: 585.083, 585.083;')
        path.stroke-number(d='M305.4,80.5c2.3,14.7,9.8,22.1,22.3,22.1c6.4,0,11.8-2.2,16.2-6.6c4.4-4.4,6.6-9.8,6.6-16.1c0-8.7-3.9-15-11.8-19.1l-22-8.6\
        c-7.9-4.1-11.9-10.7-11.9-19.6c0-6.8,2.3-12.4,6.9-16.7c4.6-4.3,10.4-6.5,17.5-6.5c13.2,0,21.1,7.3,23.5,21.8h-4.1\
        c-2.4-12.6-8.8-18.9-19.3-18.9c-5.8,0-10.7,1.9-14.8,5.8s-6.2,8.5-6.2,14c0,8.4,3.9,14.2,11.8,17.6c1,0.4,8.3,3.2,21.9,8.4\
        c7.9,4.3,11.8,11.4,11.8,21.1c0,8.1-2.4,14.4-7.2,19.2c-4.8,4.7-11.2,7.1-19.3,7.1c-7.3,0-13.3-2.4-18.1-7.1\
        c-4.8-4.7-7.3-10.7-7.4-18L305.4,80.5L305.4,80.5z', style='stroke-dashoffset: 438.974px; stroke-dasharray: 438.974, 438.974;')
        path.stroke-number(d='M368.1,10.5h3.7v93.6h-3.7V10.5z', style='stroke-dashoffset: 194.6px; stroke-dasharray: 194.6, 194.6;')
        path.stroke-number(d='M382.1,10.5h53.8V14H411v90h-3.9V14h-25L382.1,10.5L382.1,10.5z', style='stroke-dashoffset: 294.6px; stroke-dasharray: 294.6, 294.6;')
        path.stroke-number(d='M445.3,10.6h47v3.6H449v40.6h43.3v3.6H449v42.4H492v3.6h-46.8L445.3,10.6L445.3,10.6z', style='stroke-dashoffset: 454.3px; stroke-dasharray: 454.3, 454.3;')
        path.stroke-number(d='M37.3,167.5c2.8-0.1,6.1-0.2,10-0.2c6.9,0,12.2,1,15.7,2.9c4.7,2.6,7.1,7.1,7.1,13.4c0,3.3-0.8,5.9-2.3,8\
        c-1.5,2.1-4.1,4-7.8,5.7c4.3,1.1,7.8,3.2,10.3,6.2c2.5,3,3.8,6.6,3.8,10.7c0,5.1-1.7,9.3-5,12.7c-3.3,3.4-7.5,5-12.6,5H37.3V167.5z\
        M50.2,196.8c3,0,5.3-0.2,6.9-0.6c2.2-0.6,4.2-1.7,6-3.4c3.1-3.1,4.6-6.1,4.6-9.2c0-3.2-1.3-6.2-3.9-9.1c-1.6-1.8-3.5-3-5.8-3.7\
        c-1.6-0.4-4-0.7-7-0.7h-6.1l-5,0.1v26.6L50.2,196.8L50.2,196.8z M55.2,229.7c4.8,0,8.7-1.5,11.7-4.4c3-2.9,4.5-6.8,4.5-11.5\
        c0-4.5-2-8.2-5.9-11.1c-3.5-2.6-7.6-3.9-12.3-3.9c-1,0-3.3,0-6.8,0.1c-3.5,0.1-5.7,0.1-6.6,0.1v30.6L55.2,229.7L55.2,229.7z', style='stroke-dashoffset: 403.502px; stroke-dasharray: 403.502, 403.502;')
        path.stroke-number(d='M82.4,167.6h16.2c8.1,0,14.3,1.8,18.7,5.3c4.4,3.5,6.5,8.6,6.5,15.2c0,5.9-2.1,10.8-6.2,14.6s-9.3,5.6-15.6,5.3l8.5,12.4\
        c3.3,4.7,6.3,8.7,9,12.1l-3.1,0l-19.1-26.7h1.8c0.2,0,0.6,0,1,0c0.4,0,0.7,0,0.8,0c1.5,0,2.9-0.1,4.2-0.2c4.7-0.6,8.6-2.6,11.6-5.8\
        c3-3.2,4.5-7.1,4.5-11.6c0-5.7-2-10.1-6-13.2c-4-3.1-9.5-4.7-16.5-4.7H85v62h-2.5L82.4,167.6L82.4,167.6z', style='stroke-dashoffset: 361.723px; stroke-dasharray: 361.723, 361.723;')
        path.stroke-number(d='M153.4,167.5h4.4l27.6,64.7l-2.8,0l-9.6-22.7h-34.6l-9.9,22.7l-2.6,0L153.4,167.5z M172,207.2l-16.3-38.4l-16.3,38.4H172z', style='stroke-dashoffset: 350.487px; stroke-dasharray: 350.487, 350.487;')
        path.stroke-number(d='M192.4,167.5h4.2l42,61.4v-61.4h2.6v64.8l-3.5,0L195,169.6v62.5h-2.5L192.4,167.5L192.4,167.5z', style='stroke-dashoffset: 416.35px; stroke-dasharray: 416.35, 416.35;')
        path.stroke-number(d='M250,167.5h11.9c7.3,0,12.7,0.5,16.4,1.6c4.9,1.5,9.4,4.6,13.6,9.1c5.8,6.4,8.7,13.7,8.7,21.9c0,8.8-3.1,16.3-9.2,22.5\
        c-6.1,6.2-13.5,9.3-22.3,9.3H250L250,167.5L250,167.5z M263.4,229.9c3.6,0,7.1-0.3,10.8-0.9c6.9-1.2,12.6-4.5,17.1-10\
        c4.5-5.5,6.7-11.9,6.7-19.1c0-5.3-1.3-10.4-4-15c-2.7-4.7-6.3-8.3-10.9-10.9c-4.7-2.7-11.1-4-19-4h-11.5v60.1L263.4,229.9\
        L263.4,229.9z', style='stroke-dashoffset: 387.563px; stroke-dasharray: 387.563, 387.563;')
        path.stroke-number(d='M128.2,269.9c-7.4-9.5-17.4-14.2-29.9-14.2c-10.3,0-19,3.6-26,10.9c-7,7.3-10.5,16.2-10.5,26.8c0,10,3.7,18.5,11,25.5\
        c7.3,7,16.2,10.5,26.5,10.5c8.3,0,15.6-2.6,22-7.8c6.4-5.2,10.9-12.2,13.7-21.1h-46v-3h49.6c-1.9,10.3-6.5,18.8-13.8,25.3\
        c-7.3,6.5-15.9,9.8-25.8,9.8c-11.2,0-20.7-3.8-28.6-11.5c-7.9-7.7-11.9-17-11.9-28.1c0-11.2,3.8-20.8,11.4-28.8\
        c7.6-7.9,16.8-11.9,27.7-11.9c7.3,0,13.6,1.4,19,4.1c5.4,2.7,10.5,7.2,15.4,13.4L128.2,269.9L128.2,269.9z', style='stroke-dashoffset: 526.224px; stroke-dasharray: 526.224, 526.224;')
        path.stroke-number(d='M150.4,253.3H170c9.8,0,17.3,2.1,22.6,6.4s7.9,10.3,7.9,18.3c0,7.2-2.5,13.1-7.5,17.6s-11.3,6.7-18.9,6.5l10.3,14.9\
        c3.9,5.7,7.6,10.6,10.9,14.6l-3.7,0l-23.1-32.3h2.2c0.3,0,0.7,0,1.2,0.1c0.5,0,0.8,0,1,0c1.9,0,3.6-0.1,5.1-0.3\
        c5.7-0.8,10.4-3.1,14.1-7c3.6-3.9,5.5-8.6,5.5-14c0-6.9-2.4-12.2-7.2-16c-4.8-3.8-11.5-5.7-19.9-5.7h-16.7v75h-3.1L150.4,253.3\
        L150.4,253.3z', style='stroke-dashoffset: 437.396px; stroke-dasharray: 437.396, 437.396;')
        path.stroke-number(d='M238.5,253.2h5.3l33.4,78.2l-3.3,0l-11.6-27.5h-41.9l-12,27.5l-3.2,0L238.5,253.2z M261,301.1l-19.7-46.4l-19.7,46.4H261z', style='stroke-dashoffset: 423.797px; stroke-dasharray: 423.797, 423.797;')
        path.stroke-number(d='M284.7,253.2h17.6c7.8,0,14.2,1.6,19.2,4.8c6,3.8,8.9,9.3,8.9,16.7c0,7-2.2,12.5-6.7,16.5c-4.4,4-10.5,6-18.2,6h-17.6v34.1\
        h-3.2L284.7,253.2L284.7,253.2z M306.1,294.4c6.5,0,11.6-1.8,15.5-5.3s5.8-8.3,5.8-14.3c0-6.4-2.7-11.3-8.2-14.7\
        c-4.6-2.8-10.3-4.1-17.1-4.1h-14.1v38.5H306.1z', style='stroke-dashoffset: 367.485px; stroke-dasharray: 367.485, 367.485;')
        path.stroke-number(d='M340.7,253.6h3.2v38.2h43.6v-38.3h3.2v78.1h-3.2v-36.8h-43.6v36.8h-3.2V253.6z', style='stroke-dashoffset: 406.2px; stroke-dasharray: 406.2, 406.2;')
        path.stroke-number(d='M402.8,253.2h3.1v78.1h-3.1V253.2z', style='stroke-dashoffset: 162.4px; stroke-dasharray: 162.4, 162.4;')
        path.stroke-number(d='M485.2,269.3c-3.4-4.3-7.7-7.6-13-10c-5.3-2.4-10.9-3.6-16.9-3.6c-9.8,0-18.3,3.6-25.5,10.9c-7.2,7.2-10.8,15.8-10.8,25.7\
        c0,10.1,3.6,18.9,10.9,26.3c7.3,7.4,16,11.1,26.1,11.1c6.6,0,12.4-1.4,17.1-4.1c3.5-2,8-5.8,13.6-11.5h3.5\
        c-8.5,12.4-20.1,18.6-34.8,18.6c-10.5,0-19.8-3.9-27.7-11.8c-7.9-7.9-11.9-17-11.9-27.5c0-11.2,3.9-20.8,11.7-28.8\
        c7.8-8,17.1-12.1,28-12.1c14,0,25.3,5.7,33.7,17L485.2,269.3L485.2,269.3z', style='stroke-dashoffset: 398.255px; stroke-dasharray: 398.255, 398.255;')
        path.stroke-number(d='M56.7,142.4h5.9c-0.7,1.6-1.7,3-3,4.3c-1.3,1.3-2.8,2.2-4.5,2.9c-1.7,0.7-3.4,1-5.2,1c-1.9,0-3.7-0.4-5.5-1.1\
        c-1.7-0.8-3.3-1.8-4.6-3.1c-1.3-1.3-2.3-2.9-3.1-4.6c-0.7-1.8-1.1-3.6-1.1-5.5c0-2.5,0.6-4.9,1.9-7.1c1.3-2.2,3-3.9,5.2-5.2\
        c2.2-1.3,4.5-1.9,7-1.9c1.9,0,3.6,0.3,5.4,1s3.3,1.7,4.6,2.9s2.4,2.7,3.1,4.4H57c-0.9-1.1-1.9-1.9-3.2-2.5c-1.3-0.6-2.6-0.9-4-0.9\
        c-1.7,0-3.2,0.4-4.6,1.3c-1.4,0.9-2.5,2-3.3,3.5s-1.2,3-1.2,4.7c0,1.6,0.4,3.1,1.2,4.6c0.8,1.4,1.9,2.6,3.4,3.4\
        c1.4,0.9,2.9,1.3,4.5,1.3C52.4,145.6,54.7,144.5,56.7,142.4z', style='stroke-dashoffset: 133.922px; stroke-dasharray: 133.922, 133.922;')
        path.stroke-number(d='M79,121.9c2.6,0,5,0.6,7.2,1.9s3.9,3,5.2,5.3c1.3,2.2,1.9,4.6,1.9,7.2c0,2.6-0.6,5-1.9,7.2s-3,3.9-5.2,5.2\
        c-2.2,1.3-4.6,1.9-7.2,1.9c-1.9,0-3.7-0.4-5.5-1.1s-3.3-1.8-4.6-3.1c-1.3-1.3-2.4-2.9-3.1-4.6s-1.1-3.6-1.1-5.5c0-2.6,0.6-5,1.9-7.2\
        c1.3-2.2,3-4,5.2-5.3C74,122.5,76.4,121.9,79,121.9z M79,126.8c-1.7,0-3.2,0.4-4.7,1.3c-1.4,0.8-2.5,2-3.3,3.4\
        c-0.8,1.4-1.2,3-1.2,4.7c0,1.2,0.2,2.4,0.7,3.6c0.5,1.2,1.2,2.2,2,3.1c0.9,0.9,1.9,1.6,3,2.1c1.1,0.5,2.3,0.7,3.5,0.7\
        c1.6,0,3.2-0.4,4.6-1.3c1.4-0.9,2.5-2,3.4-3.5c0.8-1.5,1.3-3,1.3-4.7c0-1.7-0.4-3.2-1.2-4.7c-0.8-1.4-1.9-2.6-3.3-3.4\
        S80.7,126.8,79,126.8z', style='stroke-dashoffset: 148.887px; stroke-dasharray: 148.887, 148.887;')
        path.stroke-number(d='M97.3,149.9v-27.5h5.7l11.5,20.1v-20.1h5.1v27.5H114l-11.5-20v20H97.3z', style='stroke-dashoffset: 162.928px; stroke-dasharray: 162.928, 162.928;')
        path.stroke-number(d='M127.7,149.9v-22.6h-5.1v-4.9h15.3v4.9h-5.1v22.6H127.7z', style='stroke-dashoffset: 85.6px; stroke-dasharray: 85.6, 85.6;')
        path.stroke-number(d='M140.5,149.9v-27.5h14.8v4.9h-9.7v6.3h9.3v4.9h-9.3v6.3h9.7v4.9L140.5,149.9L140.5,149.9z', style='stroke-dashoffset: 122.401px; stroke-dasharray: 122.401, 122.401;')
        path.stroke-number(d='M159.9,149.9v-27.5h5.7l11.5,20.1v-20.1h5.1v27.5h-5.7l-11.5-20v20H159.9z', style='stroke-dashoffset: 162.928px; stroke-dasharray: 162.928, 162.928;')
        path.stroke-number(d='M190.3,149.9v-22.6h-5.1v-4.9h15.3v4.9h-5.1v22.6H190.3z', style='stroke-dashoffset: 85.6px; stroke-dasharray: 85.6, 85.6;')
        path.stroke-number(d='M213.5,149.9v-27.5h7l7.4,21l7.5-21h6.9v27.5h-5.1v-20.6l-7.1,20.6h-4.3l-7.1-20.6v20.6H213.5z', style='stroke-dashoffset: 212.843px; stroke-dasharray: 212.843, 212.843;')
        path.stroke-number(d='M244.8,149.9l11.5-27.5h4l11.6,27.5h-5.6l-3-7.1h-9.7l-3.1,7.1H244.8z M255.3,137.8h5.9l-2.9-8.3L255.3,137.8z', style='stroke-dashoffset: 123.627px; stroke-dasharray: 123.627, 123.627;')
        path.stroke-number(d='M274.6,149.9v-27.5h5.7l11.5,20.1v-20.1h5.1v27.5h-5.7l-11.5-20v20H274.6z', style='stroke-dashoffset: 162.928px; stroke-dasharray: 162.928, 162.928;')
        path.stroke-number(d='M299.9,149.9l11.5-27.5h4l11.6,27.5h-5.6l-3-7.1h-9.7l-3.1,7.1H299.9z M310.4,137.8h5.9l-2.9-8.3L310.4,137.8z', style='stroke-dashoffset: 123.627px; stroke-dasharray: 123.627, 123.627;')
        path.stroke-number(d='M356.3,130.5h-6.1c-0.5-0.8-1.2-1.4-2-2c-0.8-0.5-1.6-1-2.5-1.3c-0.9-0.3-1.8-0.4-2.8-0.4c-2.4,0-4.5,0.8-6.4,2.4\
        c-0.6,0.5-1.2,1.2-1.6,2s-0.9,1.6-1.1,2.4c-0.3,0.9-0.4,1.7-0.4,2.5c0,1.1,0.2,2.3,0.7,3.5c0.5,1.2,1.1,2.1,1.9,2.9\
        c1,1,2.1,1.8,3.3,2.3s2.5,0.8,3.8,0.8c1.6,0,3.2-0.5,4.7-1.4c1.5-0.9,2.6-2.1,3.4-3.6h-11.5v-4.8h17.9v0.6c0,2.6-0.7,5-2,7.2\
        s-3.1,3.9-5.4,5.1c-2.3,1.2-4.7,1.9-7.3,1.9c-2,0-3.8-0.4-5.6-1.1c-1.8-0.7-3.3-1.7-4.7-3s-2.4-2.8-3.2-4.6\
        c-0.8-1.7-1.2-3.6-1.2-5.6s0.4-3.9,1.2-5.6c0.8-1.8,1.8-3.3,3.2-4.6c1.4-1.3,2.9-2.4,4.7-3.1s3.6-1.1,5.6-1.1c1.9,0,3.7,0.4,5.5,1.1\
        c1.8,0.7,3.4,1.7,4.7,3C354.6,127.2,355.6,128.8,356.3,130.5z', style='stroke-dashoffset: 174.329px; stroke-dasharray: 174.329, 174.329;')
        path.stroke-number(d='M361,149.9v-27.5h14.8v4.9h-9.7v6.3h9.3v4.9h-9.3v6.3h9.7v4.9L361,149.9L361,149.9z', style='stroke-dashoffset: 122.401px; stroke-dasharray: 122.401, 122.401;')
        path.stroke-number(d='M380.4,149.9v-27.5h8c1.6,0,3,0.2,4.1,0.4s2.1,0.7,3,1.5c0.7,0.5,1.2,1.2,1.7,1.9s0.8,1.5,1.1,2.3c0.3,0.8,0.4,1.7,0.4,2.6\
        c0,1-0.2,2.1-0.6,3.2c-0.4,1.1-1,2-1.6,2.8c-1.2,1.3-2.8,2.2-4.9,2.7l7.4,10.2h-6.3l-7.1-10.5h-0.1v10.5L380.4,149.9L380.4,149.9z\
        M385.5,135.5h2.8c1.9,0,3.3-0.4,4.1-1.1c0.8-0.8,1.3-1.8,1.3-3c0-0.6-0.1-1.2-0.4-1.7c-0.3-0.6-0.6-1-1.1-1.3\
        c-0.5-0.4-1-0.6-1.6-0.8c-0.6-0.1-1.3-0.2-2.2-0.2h-2.8V135.5z', style='stroke-dashoffset: 139.251px; stroke-dasharray: 139.251, 139.251;')
        path.stroke-number(d='M402,149.9v-27.5h7l7.4,21l7.5-21h6.9v27.5h-5.1v-20.6l-7.1,20.6h-4.3l-7.1-20.6v20.6H402z', style='stroke-dashoffset: 212.843px; stroke-dasharray: 212.843, 212.843;')
        path.stroke-number(d='M435.5,149.9v-27.5h14.8v4.9h-9.7v6.3h9.3v4.9h-9.3v6.3h9.7v4.9L435.5,149.9L435.5,149.9z', style='stroke-dashoffset: 122.401px; stroke-dasharray: 122.401, 122.401;')
        path.stroke-number(d='M454.9,149.9v-27.5h5.7l11.5,20.1v-20.1h5.1v27.5h-5.7l-11.5-20v20H454.9z', style='stroke-dashoffset: 162.928px; stroke-dasharray: 162.928, 162.928;')
        path.stroke-number(d='M485.2,149.9v-22.6h-5.1v-4.9h15.3v4.9h-5.1v22.6H485.2z', style='stroke-dashoffset: 85.6px; stroke-dasharray: 85.6, 85.6;')
        path.stroke-number(d='M115.2,384.4v-33.6h6.2v13.4h12v-13.4h6.2v33.6h-6.2v-14.1h-12v14.1L115.2,384.4L115.2,384.4z', style='stroke-dashoffset: 171px; stroke-dasharray: 171, 171;')
        path.stroke-number(d='M161.8,350.2c3.1,0,6.1,0.8,8.7,2.3c2.7,1.6,4.8,3.7,6.4,6.4c1.6,2.7,2.4,5.7,2.4,8.8c0,3.2-0.8,6.1-2.4,8.8\
        c-1.6,2.7-3.7,4.8-6.4,6.3c-2.7,1.6-5.6,2.3-8.7,2.3c-2.3,0-4.5-0.4-6.7-1.3s-4-2.2-5.7-3.8s-2.9-3.5-3.8-5.6\
        c-0.9-2.1-1.4-4.4-1.4-6.7c0-3.2,0.8-6.1,2.4-8.8c1.6-2.7,3.7-4.9,6.4-6.4C155.8,351,158.7,350.2,161.8,350.2z M161.8,356.2\
        c-2.1,0-4,0.5-5.7,1.5c-1.7,1-3.1,2.4-4.1,4.2c-1,1.8-1.5,3.7-1.5,5.7c0,1.5,0.3,2.9,0.9,4.4c0.6,1.4,1.4,2.7,2.5,3.7\
        c1.1,1.1,2.3,1.9,3.6,2.5c1.4,0.6,2.8,0.9,4.3,0.9c2,0,3.9-0.5,5.6-1.6c1.7-1,3.1-2.5,4.1-4.2c1-1.8,1.5-3.7,1.5-5.7\
        c0-2.1-0.5-4-1.5-5.7c-1-1.8-2.4-3.1-4.1-4.2C165.8,356.8,163.9,356.2,161.8,356.2z', style='stroke-dashoffset: 181.249px; stroke-dasharray: 181.249, 181.249;')
        path.stroke-number(d='M181.8,374.9h6.5c0,1.3,0.5,2.3,1.4,3.1c0.9,0.8,2,1.1,3.3,1.1c0.8,0,1.5-0.2,2.2-0.5c0.7-0.4,1.2-0.9,1.6-1.5\
        c0.4-0.6,0.6-1.4,0.6-2.2c0-1.6-0.5-2.8-1.6-3.6c-1-0.8-2.5-1.5-4.3-2.1c-1.5-0.5-2.7-1-3.5-1.4c-0.8-0.4-1.6-1-2.3-1.7\
        c-0.8-0.9-1.5-1.9-1.9-3c-0.5-1.1-0.7-2.3-0.7-3.5c0-1.8,0.4-3.4,1.3-4.8c0.9-1.5,2.1-2.6,3.6-3.4s3.2-1.2,4.9-1.2\
        c1.3,0,2.5,0.2,3.7,0.7c1.2,0.5,2.2,1.2,3.1,2c0.9,0.9,1.6,1.9,2.2,3.1c0.5,1.2,0.8,2.4,0.8,3.7h-6.4c0-1-0.4-1.9-1.2-2.5\
        c-0.7-0.7-1.6-1-2.6-1c-1,0-1.8,0.3-2.4,1c-0.6,0.7-0.9,1.5-0.9,2.5c0,1.1,0.4,2,1.1,2.5c0.8,0.6,1.8,1.1,3.1,1.5\
        c1.6,0.5,2.9,1,3.8,1.4s1.8,1,2.7,1.7c2.4,1.9,3.5,4.4,3.5,7.6c0,1.5-0.3,2.9-0.9,4.2c-0.6,1.3-1.4,2.4-2.4,3.4s-2.2,1.7-3.5,2.3\
        c-1.3,0.5-2.7,0.8-4.2,0.8c-1.9,0-3.7-0.5-5.3-1.4c-1.7-0.9-3-2.1-4-3.7C182.3,378.6,181.8,376.9,181.8,374.9z', style='stroke-dashoffset: 146.572px; stroke-dasharray: 146.572, 146.572;')
        path.stroke-number(d='M211.2,384.4v-27.5h-6.2v-6h18.7v6h-6.3v27.5H211.2z', style='stroke-dashoffset: 104.4px; stroke-dasharray: 104.4, 104.4;')
        path.stroke-number(d='M226.9,384.4v-33.6h6.2v33.6L226.9,384.4L226.9,384.4z', style='stroke-dashoffset: 79.6px; stroke-dasharray: 79.6, 79.6;')
        path.stroke-number(d='M239.6,384.4v-33.6h7l14,24.5v-24.5h6.2v33.6h-6.9L245.8,360v24.4L239.6,384.4L239.6,384.4z', style='stroke-dashoffset: 198.799px; stroke-dasharray: 198.799, 198.799;')
        path.stroke-number(d='M305.6,360.7h-7.4c-0.7-0.9-1.5-1.7-2.4-2.4c-0.9-0.7-2-1.2-3.1-1.5c-1.1-0.4-2.2-0.5-3.4-0.5c-3,0-5.5,1-7.8,2.9\
        c-0.8,0.7-1.4,1.5-2,2.4c-0.6,0.9-1,1.9-1.4,3c-0.3,1.1-0.5,2.1-0.5,3.1c0,1.4,0.3,2.8,0.9,4.2c0.6,1.4,1.4,2.6,2.3,3.6\
        c1.2,1.2,2.5,2.1,4,2.8c1.5,0.6,3.1,1,4.7,1c2,0,3.9-0.6,5.7-1.7c1.8-1.1,3.2-2.6,4.1-4.3h-14v-5.9h21.9v0.7c0,3.2-0.8,6.1-2.4,8.7\
        c-1.6,2.6-3.8,4.7-6.6,6.2c-2.8,1.5-5.7,2.3-8.8,2.3c-2.4,0-4.7-0.4-6.8-1.3c-2.2-0.9-4.1-2.1-5.8-3.7c-1.7-1.6-3-3.4-3.9-5.6\
        c-0.9-2.1-1.4-4.4-1.4-6.8s0.5-4.7,1.4-6.9c0.9-2.1,2.2-4,3.9-5.6c1.7-1.6,3.6-2.9,5.8-3.8c2.2-0.9,4.4-1.4,6.8-1.4\
        c2.3,0,4.5,0.4,6.7,1.3c2.2,0.9,4.1,2.1,5.8,3.7C303.5,356.8,304.8,358.6,305.6,360.7z', style='stroke-dashoffset: 212.371px; stroke-dasharray: 212.371, 212.371;')
        path.stroke-number(d='M321.6,374.9h6.5c0,1.3,0.5,2.3,1.4,3.1c0.9,0.8,2,1.1,3.3,1.1c0.8,0,1.5-0.2,2.2-0.5c0.7-0.4,1.2-0.9,1.6-1.5\
        c0.4-0.6,0.6-1.4,0.6-2.2c0-1.6-0.5-2.8-1.6-3.6c-1-0.8-2.5-1.5-4.3-2.1c-1.5-0.5-2.7-1-3.5-1.4c-0.8-0.4-1.6-1-2.3-1.7\
        c-0.8-0.9-1.5-1.9-1.9-3c-0.5-1.1-0.7-2.3-0.7-3.5c0-1.8,0.4-3.4,1.3-4.8c0.9-1.5,2.1-2.6,3.6-3.4c1.5-0.8,3.2-1.2,4.9-1.2\
        c1.3,0,2.5,0.2,3.7,0.7c1.2,0.5,2.2,1.2,3.1,2c0.9,0.9,1.6,1.9,2.2,3.1c0.5,1.2,0.8,2.4,0.8,3.7h-6.4c0-1-0.4-1.9-1.2-2.5\
        c-0.7-0.7-1.6-1-2.6-1c-1,0-1.8,0.3-2.4,1c-0.6,0.7-0.9,1.5-0.9,2.5c0,1.1,0.4,2,1.1,2.5s1.8,1.1,3.1,1.5c1.6,0.5,2.9,1,3.8,1.4\
        c0.9,0.4,1.8,1,2.7,1.7c2.4,1.9,3.5,4.4,3.5,7.6c0,1.5-0.3,2.9-0.9,4.2c-0.6,1.3-1.4,2.4-2.4,3.4c-1,1-2.2,1.7-3.5,2.3\
        c-1.3,0.5-2.7,0.8-4.2,0.8c-1.9,0-3.7-0.5-5.3-1.4c-1.7-0.9-3-2.1-4-3.7C322.1,378.6,321.6,376.9,321.6,374.9z', style='stroke-dashoffset: 146.569px; stroke-dasharray: 146.569, 146.569;')
        path.stroke-number(d='M347.7,384.4v-33.6h18v6h-11.8v7.7h11.3v6h-11.3v7.7h11.8v6H347.7z', style='stroke-dashoffset: 149.4px; stroke-dasharray: 149.4, 149.4;')
        path.stroke-number(d='M371.3,384.4v-33.6h9.7c2,0,3.7,0.2,5,0.5c1.3,0.3,2.6,0.9,3.7,1.9c0.8,0.7,1.5,1.4,2.1,2.3c0.6,0.9,1,1.8,1.4,2.8\
        c0.3,1,0.5,2.1,0.5,3.1c0,1.2-0.3,2.5-0.8,3.9c-0.5,1.4-1.2,2.5-2,3.4c-1.5,1.6-3.5,2.7-5.9,3.2l9.1,12.4h-7.7l-8.7-12.9h-0.1v12.9\
        L371.3,384.4L371.3,384.4z M377.5,366.8h3.4c2.3,0,4-0.5,5-1.4c1-1,1.5-2.2,1.5-3.6c0-0.7-0.2-1.4-0.5-2.1c-0.3-0.7-0.8-1.2-1.4-1.6\
        c-0.6-0.5-1.3-0.8-1.9-0.9s-1.6-0.2-2.7-0.2h-3.4L377.5,366.8L377.5,366.8z', style='stroke-dashoffset: 169.762px; stroke-dasharray: 169.762, 169.762;')
        path.stroke-number(d='M408,384.4l-13-33.6h6.5l9,25.5l9-25.5h6.5l-13,33.6H408z', style='stroke-dashoffset: 144.138px; stroke-dasharray: 144.138, 144.138;')
        path.stroke-number(d='M429.5,384.4v-33.6h6.2v33.6L429.5,384.4L429.5,384.4z', style='stroke-dashoffset: 79.6px; stroke-dasharray: 79.6, 79.6;')
        path.stroke-number(d='M466.2,375.3h7.2c-0.8,2-2,3.7-3.7,5.2c-1.6,1.5-3.5,2.7-5.5,3.5c-2.1,0.8-4.2,1.2-6.4,1.2c-2.3,0-4.6-0.5-6.7-1.4\
        c-2.1-0.9-4-2.2-5.6-3.8c-1.6-1.6-2.9-3.5-3.8-5.7c-0.9-2.1-1.4-4.4-1.4-6.8c0-3.1,0.8-6,2.4-8.7c1.6-2.7,3.7-4.8,6.3-6.4\
        c2.6-1.6,5.5-2.4,8.6-2.4c2.3,0,4.4,0.4,6.6,1.2s4,2,5.6,3.6s2.9,3.4,3.7,5.4h-7.1c-1-1.3-2.4-2.3-3.9-3.1c-1.6-0.8-3.2-1.1-4.9-1.1\
        c-2,0-3.9,0.5-5.6,1.6c-1.7,1.1-3,2.5-4,4.2c-1,1.8-1.5,3.7-1.5,5.8c0,2,0.5,3.8,1.5,5.6c1,1.8,2.4,3.1,4.1,4.2\
        c1.7,1,3.5,1.6,5.5,1.6C460.9,379.2,463.8,377.9,466.2,375.3z', style='stroke-dashoffset: 163.935px; stroke-dasharray: 163.935, 163.935;')
        path.stroke-number(d='M477.6,384.4v-33.6h18v6h-11.8v7.7h11.3v6h-11.3v7.7h11.8v6H477.6z', style='stroke-dashoffset: 149.4px; stroke-dasharray: 149.4, 149.4;')
        path.stroke-number(d='M587.6,385.7h-80.7v-17c0-3.2,0.1-6.4,0.4-9.5c0.3-3.1,0.7-6.1,1.4-8.8c0.6-2.7,1.6-5.4,2.8-8.1c1.3-2.7,2.9-5.2,4.8-7.4\
        c3.6-4.3,8.3-7.7,14-10.2c5.7-2.5,11.5-3.7,17.3-3.7c2.8,0,5.7,0.3,8.5,0.9c2.9,0.6,5.7,1.5,8.4,2.7c2.7,1.2,5.2,2.7,7.5,4.3\
        c2.3,1.7,4.4,3.6,6.3,5.8c3.7,4.4,6.2,9.2,7.4,14.6c1.2,5.4,1.8,11.7,1.8,19L587.6,385.7L587.6,385.7z M573.1,370.7v-1.9\
        c0-3.2-0.1-6.1-0.3-8.6c-0.2-2.5-0.7-5.1-1.6-7.6c-0.8-2.5-2-4.8-3.6-7c-2.3-3.1-5.3-5.5-8.8-7.2c-3.5-1.7-7.2-2.5-11.2-2.5\
        c-2.8,0-5.5,0.4-8.2,1.2s-5.2,2-7.4,3.7c-2.3,1.6-4.2,3.6-5.8,5.8c-2.1,3.1-3.4,6.4-4,9.9c-0.6,3.6-0.8,7.9-0.8,13v1.1L573.1,370.7\
        L573.1,370.7z', style='stroke-dashoffset: 407.296px; stroke-dasharray: 407.296, 407.296;')
        path.stroke-number(d='M587.6,310.5h-80.7v-43.3h14.5v28.4H540v-27.2h14.5v27.2h18.6v-28.4h14.5L587.6,310.5L587.6,310.5z', style='stroke-dashoffset: 359.2px; stroke-dasharray: 359.2, 359.2;')
        path.stroke-number(d='M564.8,258.3v-15.6c3.1,0,5.6-1.1,7.4-3.3c1.8-2.2,2.7-4.8,2.7-7.9c0-1.8-0.4-3.6-1.3-5.2c-0.9-1.6-2.1-2.9-3.6-3.9\
        c-1.5-1-3.3-1.4-5.2-1.4c-3.9,0-6.8,1.2-8.7,3.7c-1.9,2.5-3.5,5.9-4.9,10.3c-1.2,3.6-2.3,6.4-3.3,8.4c-1,2-2.4,3.9-4.1,5.6\
        c-2.1,2-4.4,3.5-7.2,4.7c-2.7,1.1-5.5,1.7-8.3,1.7c-4.2,0-8.1-1.1-11.6-3.2c-3.5-2.1-6.3-5.1-8.3-8.7c-2-3.7-3-7.6-3-11.8\
        c0-3.1,0.6-6.1,1.7-8.9c1.2-2.8,2.8-5.3,4.9-7.6c2.1-2.2,4.6-4,7.4-5.2c2.8-1.3,5.8-1.9,8.9-1.9v15.4c-2.5,0.1-4.5,1-6.1,2.8\
        c-1.6,1.8-2.3,3.8-2.3,6.3s0.8,4.3,2.4,5.8c1.6,1.4,3.6,2.2,6.1,2.2c2.7,0,4.7-0.9,6.1-2.7c1.4-1.8,2.6-4.3,3.7-7.4\
        c1.3-3.9,2.4-6.9,3.4-9.2c1-2.3,2.3-4.4,4.1-6.5c4.5-5.7,10.6-8.5,18.4-8.5c3.5,0,6.9,0.7,10,2.1c3.1,1.4,5.9,3.3,8.2,5.7\
        c2.3,2.4,4.1,5.2,5.4,8.4c1.3,3.2,1.9,6.6,1.9,10.1c0,4.5-1.1,8.8-3.3,12.8c-2.2,4-5.1,7.3-8.9,9.6\
        C573.6,257.1,569.4,258.3,564.8,258.3z', style='stroke-dashoffset: 352.947px; stroke-dasharray: 352.947, 352.947;')
        path.stroke-number(d='M587.6,195.7h-80.7v-15h80.7V195.7z', style='stroke-dashoffset: 191.4px; stroke-dasharray: 191.4, 191.4;')
        path.stroke-number(d='M530.6,88.6v17.9c-2.2,1.6-4.1,3.5-5.7,5.8c-1.6,2.3-2.8,4.7-3.7,7.4c-0.9,2.6-1.3,5.3-1.3,8.1c0,7.1,2.3,13.3,7,18.7\
        c1.6,1.8,3.5,3.4,5.7,4.8c2.2,1.4,4.6,2.5,7.1,3.3c2.5,0.8,5,1.2,7.4,1.2c3.4,0,6.7-0.7,10.1-2.1c3.4-1.4,6.2-3.3,8.6-5.6\
        c2.9-2.8,5.1-6,6.7-9.6c1.6-3.6,2.3-7.4,2.3-11.3c0-4.7-1.3-9.3-4-13.7c-2.7-4.4-6.2-7.7-10.4-9.9v33.7h-14.1V84.5h1.8\
        c7.7,0,14.7,2,21,5.9c6.3,3.9,11.3,9.2,14.9,15.8c3.6,6.6,5.4,13.7,5.4,21.3c0,5.8-1.1,11.2-3.2,16.4c-2.1,5.2-5.1,9.8-8.9,13.8\
        c-3.8,4-8.3,7.2-13.4,9.4c-5.1,2.3-10.6,3.4-16.4,3.4c-5.9,0-11.4-1.1-16.5-3.4c-5.1-2.3-9.6-5.4-13.5-9.4c-3.9-4-6.9-8.6-9.1-13.8\
        c-2.2-5.2-3.3-10.7-3.3-16.3c0-5.5,1-10.9,3.1-16.1c2.1-5.2,5-9.9,8.8-13.9C521.1,93.6,525.5,90.6,530.6,88.6z', style='stroke-dashoffset: 510.732px; stroke-dasharray: 510.732, 510.732;')
        path.stroke-number(d='M587.6,74.7h-80.7V57.9l58.9-33.6h-58.9v-15h80.7v16.6l-58.7,33.9h58.7V74.7z', style='stroke-dashoffset: 477.896px; stroke-dasharray: 477.896, 477.896;')
        path.stroke-number(d='M307.5,230.9v-35.4h6.6v35.4H307.5z', style='stroke-dashoffset: 84px; stroke-dasharray: 84, 84;')
        path.stroke-number(d='M320.9,230.9v-35.4h7.4c1.4,0,2.8,0.1,4.2,0.2c1.4,0.1,2.7,0.3,3.8,0.6c1.2,0.3,2.4,0.7,3.6,1.2c1.2,0.6,2.3,1.3,3.2,2.1\
        c1.9,1.6,3.4,3.6,4.5,6.1c1.1,2.5,1.6,5,1.6,7.6c0,1.2-0.1,2.5-0.4,3.7c-0.3,1.3-0.7,2.5-1.2,3.7s-1.2,2.3-1.9,3.3s-1.6,1.9-2.6,2.8\
        c-1.9,1.6-4,2.7-6.4,3.3c-2.3,0.5-5.1,0.8-8.3,0.8L320.9,230.9L320.9,230.9z M327.4,224.6h0.8c1.4,0,2.7,0,3.8-0.1\
        c1.1-0.1,2.2-0.3,3.3-0.7c1.1-0.4,2.1-0.9,3.1-1.6c1.4-1,2.4-2.3,3.1-3.8c0.7-1.5,1.1-3.2,1.1-4.9c0-1.2-0.2-2.4-0.5-3.6\
        c-0.4-1.2-0.9-2.3-1.6-3.2c-0.7-1-1.6-1.8-2.6-2.5c-1.3-0.9-2.8-1.5-4.3-1.7c-1.6-0.2-3.5-0.4-5.7-0.4h-0.5L327.4,224.6L327.4,224.6\
        z', style='stroke-dashoffset: 178.112px; stroke-dasharray: 178.112, 178.112;')
        path.stroke-number(d='M354.4,230.9v-35.4h19v6.4h-12.4v8.1h11.9v6.4h-11.9v8.2h12.4v6.4L354.4,230.9L354.4,230.9z', style='stroke-dashoffset: 157.5px; stroke-dasharray: 157.5, 157.5;')
        path.stroke-number(d='M379.3,230.9v-35.4h7.4l14.7,25.8v-25.8h6.6v35.4h-7.3l-14.8-25.8v25.8H379.3z', style='stroke-dashoffset: 209.738px; stroke-dasharray: 209.738, 209.738;')
        path.stroke-number(d='M418.3,230.9v-29h-6.5v-6.4h19.7v6.4h-6.6v29H418.3z', style='stroke-dashoffset: 110.2px; stroke-dasharray: 110.2, 110.2;')
        path.stroke-number(d='M434.8,230.9v-35.4h6.6v35.4H434.8z', style='stroke-dashoffset: 84px; stroke-dasharray: 84, 84;')
        path.stroke-number(d='M451.8,230.9v-29h-6.5v-6.4h19.7v6.4h-6.6v29H451.8z', style='stroke-dashoffset: 110.2px; stroke-dasharray: 110.2, 110.2;')
        path.stroke-number(d='M476.8,230.9v-13.1l-11.6-22.3h7.2l7.7,16.3l7.7-16.3h7.2l-11.6,22.3v13.1H476.8z', style='stroke-dashoffset: 133.528px; stroke-dasharray: 133.528, 133.528;')
