.section.section--two-cols.load-hidden
  .section__inner
    .section__cover(style="background-image: url('https://btq.vn/pictures/catalog/background/bg.jpg')")
    .section__box
      h3.section__ttl Thiết kế và phát triển website
      .section__desc
        p Tính nhất quán trong thiết kế của các ấn phẩm, công cụ truyền thông hỗ trợ mọi hoạt động quản lý, tiếp thị, bán hàng … thể hiện sự chuyên nghiệp của một Thương hiệu, tạo ấn tượng tích cực ban đầu trong giao tiếp, mang lại thành công cho Thương hiệu.
        p Những hình ảnh này được xem là điểm tiếp xúc quan trọng với khách hàng. Do đó, từng ấn phẩm, công cụ truyền thông cần được chăm chút để truyền tải được bản sắc của Thương hiệu.
        p Công ty B.T.Q với đội ngũ thiết kế am hiểu về marketing, giàu kinh nghiệm thể hiện hình ảnh Thương hiệu, chúng tôi rất tự tin để tạo ra sự khác biệt cho thiết kế của bạn hoàn toàn vượt trội so với các thương hiệu cạnh tranh khác.