// Page was activated
.activated {
  animation: fadeIn 1000ms ease-in-out 0s 1 forwards;
}

// Page was inactivated
.inactivated {
  animation: fadeOut 1000ms ease-in-out 0s 1 forwards;
}

.fadeOutFlip {
  animation: fadeOutFlip 500ms ease-in-out 0s 1 forwards;
}

html.sr .load-hidden {
  visibility: hidden;
}

.stroke-number {
  stroke: #fff;
  stroke-miterlimit: 10;
  stroke-width: 1;
}

.pd-0 {
  padding: 0;
}

.pd-bot-0 {
  padding-bottom: 0;
}

.pd-top-10 {
  padding-top: 10px;
}

.pd-bot-10 {
  padding-bottom: 10px;
}

.pd-top-50 {
  padding-top: 50px;
}

.mg-bot-0 {
  margin-bottom: 0;
}

// Animations
@-webkit-keyframes DrawStroke {
  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 800
  }
}

@keyframes DrawStroke {
  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 800
  }
}

@-webkit-keyframes ScrollStroke {
  100% {
      stroke-dashoffset: 0
  }
}

@keyframes ScrollStroke {
  100% {
      stroke-dashoffset: 0
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@-webkit-keyframes fadeOutFlip {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    -webkit-transform: scaleX(0);
  }
}

@keyframes fadeOutFlip {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    transform: scaleX(0)
  }
}